#icp_view {
	width: 990px;
	background-color: #fff;
}

#icp_view_overview div.icp_ov_section {
	border: 1px ridge #ccc;
	margin-bottom: 10px;
	padding: 5px 4px;
	overflow: hide;
	margin: 5px;
}

#icp_view_overview div.icp_ov_section .title {
	text-align: right;
	background-color: #E1E1EA;
	color: #5E5E80;
	padding: 2px 4px;
}

#icp_view_overview .icp_section_index {
	margin: 2px 0px 15px;
	background-color: #E1E1EA;
	text-align: center;
	border-color: #5E5E80;
	border-style: solid;
	border-width: 1px 0px;
}
#icp_view_overview .icp_section_index a {
	padding: 8px 6px;
	color: #5E5E80;
	line-height: 29px;
	text-decoration: none;
	outline: 0px;
}
#icp_view_overview .icp_section_index a:hover {
	background-color: #F7F7F9;
}

#icp_view_overview dl dt {
	color: #006;
	font-style: italic;
	margin-top: 4px;
	font-size: 90%;
}

#icp_view_overview dl dd {
	font-size: 80%;
}

#icp_view_overview .product_ref {
	padding: 4px;
	margin: 4px;
	border: 1px inset #5E5E80;
	display: inline-table;
}

#icp_view_overview .product_ref .product_code {
	text-align: center;
}

#icp_view_overview .product_ref .product_photo {
	border: 1px outset #5E5E80;
}
