body,p,td {
	font-size: 8pt;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	margin: 0px;
}
body {
	overflow: hidden;
}

img.icp_lazyload {
	display: none;
}

form.icp_form {
	display: inline;
}

ul.icp_hlist {
	list-style-type: none;
	list-style-image: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

a.icp_anchor {
	color: inherit;
	text-decoration: none;
	outline-color: inherit;
	outline-width: 0;
}

.icp_hlist li {
	float: left;
}

#icp_top {
	background-color: transparent;
}

#icp_logo_phl {
	background-color: white;
	background-image: url(../../img/gn_philips.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	height: 35px;
}

#icp_title {
	background-color:#C7CBDD;
	background-image:url(../../img/bar_bg.gif);
	background-repeat:repeat-y;
	height: 30px;
	color: #006;
	font-size: 20px;
	font-family: Gill Sans MT, Verdana, Arial, Helvetica, Geneva, sans-serif;
	padding-left: 5px;
}

#icp_build_number {
}

#icp_viewbar {
	background-color: #DFDFDF;
}
#icp_viewbar table {
	width: 100%;
	height: 35px;
	border-collapse: collapse;
}
#icp_viewbar table td {
	background-image: url(../../img/tab_bg.gif);
	border-color: #9DA0AF;
	border-width: 0 1px 0 0;
	border-style: solid;
	color: #5e5e80;
}
#icp_viewbar td.item {
	width: 120px;
	background-color:transparent;
}
#icp_viewbar td.last {
}
#icp_viewbar a {
	line-height: 20px;
	text-decoration: none;
	padding: 0px 10px;
	display: block;
	color: #5e5e80;
	outline-color: transparent;
	font-size: 120%;
}
#icp_viewbar td.inactive {
}
#icp_viewbar td.active {
	background-image: url(../../img/tab_bg_active.gif);
	background-color: #fff;
}
#icp_viewbar td.active a {
	/* border-top: 3px solid #FFB437; */
}

#icp_viewbar td input {
	margin: 0px 3px 0px 4px;
	float: left;
}

.icp_title {
	font-weight: bold;
	background-color: #5E5E80;
	padding: 2px 4px;
	color: #fff;
	height: 16px;
}

.icp_title a.icp_anchor {
	color: #fff;
}

.icp_transparent {
	opacity: .5;
	filter: alpha(opacity=50);
}

a.icp_button {
	line-height: 18px;
	padding: 2px 4px;
	background-color: #777;
	color: white;
	border: 2px outset #ccc;
	text-decoration: none;
	margin-right: 1ex;
}

a.icp_button_active {
	border-style: inset;
	color: #3f3;
}

.icp_view {
	width: 99%;
	margin: 0px;
	position: absolute;
	top: 110px;
	padding: 0px;
	display: none;
}

.icp_content {
	border: 1px inset #666;
	border-left-width: 0;
	width: 1004px;
	height: 400px; /* Will be resized with window */
	/*float: left;*/
	margin-right: 8px;
	overflow-y: auto;
	overflow-x: hidden;
}

.icp_index {
	top: 110px;
	right: 5px;
	z-index: 2900;
	border: 1px solid #5E5E80;
	background-color: #E1E1EA;
	width: 150px;
	position: absolute;
	text-align: center;
	font-size: 9pt;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

.icp_index ul {
	text-align: left;
	list-style: none;
	padding: 0px 0px 0px 15px;
	margin: 10px 0px 0px 0px;
	font-size: 8pt;
	overflow-y: auto;
	height: 400px;
}

.icp_index ul li {
	background: transparent;
	padding: 0px;
}

.icp_index ul li a {
	color: #5E5E80;
	text-decoration: none;
}
.icp_index ul li a:hover {
	text-decoration: underline;
}
.icp_index ul li a.active {
	font-weight: bold;
}

.icp_index ul li a.icp_item_with_errors {
	color: #a00;
}

.icp_error_summary {
	background-color: #E1E1EA;
	border: 1px solid #5E5E80;
	/* display: none; */
	font-family: Arial;
	font-size: 8pt;
	margin: 0 0 5px;
	position: absolute;
	top: 2px;
	z-index: 3000;
	right: 2px;
	width: 400px;
}
.icp_errors {
	height: 70px;
	overflow: auto;
	width: 100%;
}

.icp_errors ul {
	margin: 1ex 0px 1ex 0px;
	padding-left: 18px;
}

.icp_errors ul li {
	list-style: disc;
	background-image: none;
	padding: 0px;
}

.icp_translationMaxLength {
	color: inherit;
}

.icp_translationError {
	color: #c00;
	border-style: solid;
	border-width: 0px 1px;
}

.icp_translationOk {
}

.icp_translationHighlight {
	background-color: #dfc;
}

.icp_translationInfo {
	display: none;
}

#toggleErrorsInContext {
	float: left;
	margin: 1px 2px;
}

#icp_tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #ff0;
	background-color: #ff8;
	padding: 2px;
	font-family: Arial;
	font-size: 8pt;
}

#icp_tooltip h3, #icp_tooltip div {
	margin: 0;
}

.icp_tooltip_fixed {
	width: 300px;
}

.icp_missing_image {
	text-align: center;
}

.icp_status_img {
	left:909px;
	position:absolute;
	top:0px;
	z-index:1;
}

/*
	This style is used to display or hide content parts
	dynamically, that have to be visible always when printing.
	Using a local style that sets the display property on individual elements,
	like jQuery's show()/hide(), does not allow displaying using a print media stylesheet.
*/
.icp_hidden {
	display: none !important;
}
