#icp_content_shop .breadcrumb { margin: 6px; }
#icp_content_shop .flashalt { position: absolute; top: 0; left: 0; width: 0; height: 0; overflow: hidden; }
#icp_content_shop .compare { color: #f58f08; }
#icp_content_shop #dr_CategoryProductList.dr_Content { padding: 9px; }
#icp_content_shop .dr_Content .breadcrumb h1 { display: inline; margin: 0; padding: 0; font-size: 100%; color: #000; }
#icp_content_shop .content { margin: 0; }
#icp_content_shop .content .contentTop { background-repeat: no-repeat; background-color: #005E90; min-height: 337px; margin-bottom: 9px; }
#icp_content_shop .content .products { margin: auto; width: 944px; }
#icp_content_shop .content .categorybox,
#icp_content_shop .content .productbox { width: 691px; height: 225px; border: 1px solid #999; overflow: hidden; background: url(../../web/drhm/images/cat_browse_back.gif) repeat-x; }
#icp_content_shop .content .productbox .head { padding-left: 587px; font-size: 100%; color: #666; background-color: #ccc; text-align: left; }
#icp_content_shop .content .productbox .product { width: 215px; }
#icp_content_shop .contentmiddle { width: 944px; margin: auto; /*background-color: white;*/ }
#icp_content_shop .categorybox .head, 
#icp_content_shop .productbox .head, 
#icp_content_shop .categorybrowse .head { height: 25px; padding-left: 8px; line-height: 25px; color: #333; font-size: 110%; font-weight: bold; background-color: #eee; }
#icp_content_shop .categorybox .head span,
#icp_content_shop .typebox .head span, 
#icp_content_shop .categorybrowse .head span { color: #036; font-size: .8em; }
#icp_content_shop .categorybox .head span a, 
#icp_content_shop .typebox .head span a { color: #036; text-decoration: none; }
#icp_content_shop .categorybox .category, 
#icp_content_shop .productbox .product { float: left; width: 140px; margin: 0; padding: 6px 20px 6px 6px; text-align: center; } /* color: #036; font-weight: bold; */
#icp_content_shop .categorybox .category { height: 196px; }
#icp_content_shop .categorybox .category .copy { height: 86px; }
#icp_content_shop .categorybox .category .thumb { padding: 0; }
/* .productbox .product { width: 140px; } */
#icp_content_shop .categorybox .category h4, 
#icp_content_shop .productbox .product h4 { margin: 0; padding: 0; text-align: left; color: #036; font-weight: bold; font-size: 100% }
#icp_content_shop .categorybox .category h4 a, 
#icp_content_shop .productbox .product h4 a { color: #0b5ed7; text-decoration: none; }
#icp_content_shop .categorybox .category h4 a:hover, 
#icp_content_shop .productbox .product h4 a:hover { text-decoration: underline; }
#icp_content_shop .categorybox .category p, 
#icp_content_shop .productbox .product p { margin: 0; padding: 0; text-align: left; color: #000; font-weight: normal; }
#icp_content_shop .categorybox .category p.price, 
#icp_content_shop .productbox .product p.price { margin: 0; padding: 0; text-align: left; color: #000; font-weight: bold; }
#icp_content_shop .diffitems ul { height: 50px; overflow: hidden; }
#icp_content_shop .typebox { margin-top: 6px; width: 691px; height: 160px; border: 1px solid #999; background: url(../../web/drhm/images/cat_browse_back.gif) repeat-x; }
#icp_content_shop .typebox .head { height: 25px; padding-left: 8px; line-height: 25px; color: #333; font-size: 110%; font-weight: bold; background-color: #eee; }
#icp_content_shop .typebox .category { float: left; margin: 0; width: 122px; padding: 6px 10px 6px 6px; text-align: center; color: #036; font-weight: bold; }
#icp_content_shop .typebox .category h4 { margin: 0; padding: 0; text-align: center; color: #036; font-weight: bold; font-size: 100%; }
#icp_content_shop .typebox .category p { margin: 0; padding: 0; text-align: left; color: #000; font-weight: normal; }
#icp_content_shop .landing { width: 691px; /*height: 367px;*/ }
#icp_content_shop .landing h4 { margin: 6px 0 6px 10px; padding: 0; font-size: 110%; color: #333; }
#icp_content_shop .catfocus h3 { margin: 0; padding: 0 10px; width: 674px; height: 29px; line-height: 29px; border-right: 2px solid #ccc; font-size: 110%; color: #333; background-color: #e0e0e0; }
#icp_content_shop .landing .product, .catfocus .product { margin-top: 14px; clear: both; }
#icp_content_shop .landing .product .thumb, 
#icp_content_shop .catfocus .product .thumb { float: left; display: inline; width: 75px; margin: 0 10px; }
#icp_content_shop .landing .product h5, 
#icp_content_shop .catfocus .product h5 { margin: 0 6px 0 0; font-size: 100%; color: #06c; }
#icp_content_shop .landing .product h5 a, 
#icp_content_shop .catfocus .product h5 a { color: #06c; text-decoration: none; }
#icp_content_shop .landing .product h5 a:hover, 
#icp_content_shop .catfocus .product h5 a:hover { text-decoration: underline; }
#icp_content_shop .landing .product p, 
#icp_content_shop .catfocus .product p { margin: 0 6px 0 0; font-size: 90%; color: #06c; }
#icp_content_shop .landing .product .price { color: #666; }
#icp_content_shop .landing .product .dr_actualPrice { color: #000; font-weight: bold; }
#icp_content_shop .landing .product .pricecontainer { padding-left: 95px; }
#icp_content_shop .landing .column { float: left; width: 344px; margin-bottom: 20px; }
#icp_content_shop .catfocus .column { float: left; width: 230px; height: 90px; border-right: 2px solid #ccc; background: url(../../web/drhm/images/landing_selected_prod_back2.gif) repeat-x; }
#icp_content_shop .catfocus .product { height: 65px; }
#icp_content_shop .catfocus .product .price { font-color: #333; font-weight: bold; }
#icp_content_shop .content .columnshadow { float: left; margin-left: 6px; width: 457px; background: url(../../web/drhm/images/cat_clear_shadow_right.png) top right no-repeat; }
#icp_content_shop .content .column1, 
#icp_content_shop .content .column2 { float: left; width: 452px; height: 600px; border: 1px solid #999; }
#icp_content_shop .content .column1 #landing, 
#icp_content_shop .content .column2 .landing { width: 452px; height: auto; clear: both; }
#icp_content_shop .content .column1 .landing .column, 
#icp_content_shop .content .column2 .landing .column { width: 452px; float: none; }
#icp_content_shop .content .column1 .landing .product, 
#icp_content_shop .content .column2 .landing .product { float: left; width: 220px; height: 115px; clear: none; }
#icp_content_shop .content .column1 .landing .thumb, 
#icp_content_shop .content .column2 .landing .thumb { height: 115px; }
#icp_content_shop .content .product .msrp { display: block; text-decoration: line-through; color: #999; }
#icp_content_shop .content .product .yousave { display: block; color: #f00; }
#icp_content_shop .content .categorybrowse .head a { text-decoration: none; }
#icp_content_shop .content .categorybrowse .head a:hover { text-decoration: underline; }
#icp_content_shop .content .column1 .header, 
#icp_content_shop .content .column2 .header { border-bottom: 1px solid #999; }
#icp_content_shop .content .column1 .header p, 
#icp_content_shop .content .column2 .header p { margin-left: 8px; }
#icp_content_shop .content .column1 .header a.learnmore, 
#icp_content_shop .content .column2 .header a.learnmore { font-weight: bold; text-decoration: none; }
#icp_content_shop .content .column1 .categorybrowse, 
#icp_content_shop .content .column2 .categorybrowse { height: 105px; border-bottom: 1px solid #999; }
#icp_content_shop .content .column1 .categorybrowse .head, 
#icp_content_shop .content .column2 .categorybrowse .head { background-color: transparent; }
#icp_content_shop .content .column1 .categorybrowse ul, 
#icp_content_shop .content .column2 .categorybrowse ul { float: left; list-style: none; margin: 6px; padding: 0; }
#icp_content_shop .content .column1 .categorybrowse ul li, 
#icp_content_shop .content .column2 .categorybrowse ul li { list-style: none; float: left; width: 214px; margin: 0; padding: 0; }
#icp_content_shop .content .column1 .categorybrowse ul li a, 
#icp_content_shop .content .column2 .categorybrowse ul li a { text-decoration: none; font-weight: bold; }
#icp_content_shop .content .column1 .categorybrowse ul li a:hover, 
#icp_content_shop .content .column2 .categorybrowse ul li a:hover { text-decoration: underline; }
#icp_content_shop .content .overlay { padding: 45px 100px 0 400px; color: white; }
#icp_content_shop .content .overlay h1 { margin: 0 0 8; font-family: "Gil sans std light", "Gill Sans MT", "Verdana", "Sans Serif"; font-size: 24px; font-weight: normal; line-height: 1em; color: #fff; }
#icp_content_shop .content .overlay h2 { margin: 0 0 8; font-family: "Gil sans std light", "Gill Sans MT", "Verdana", "Sans Serif"; font-size: 18px; font-weight: normal; line-height: 17px; color: #fff; }
#icp_content_shop .content .overlay p { margin: 2px 0; }
#icp_content_shop .content .overlay p.blurb { font-size: 120%; }
#icp_content_shop a.aboutclose { display: block; float: right; padding: 0 4px 3px 6px; }
#icp_content_shop .content .overlay .featureoverlays { margin-top: 10px; }
#icp_content_shop .content .overlay .featureoverlays .basefeature { position: relative; margin: 2px 0; width: 200px; font-weight: bold; }
#icp_content_shop .content .overlay .featureoverlays .basefeature div.additional { display: none; position: absolute; top: 17px; right: -205px; width: 200px; padding: 4px; background-color: #fff; color: #333; font-weight: normal; }
#icp_content_shop .content .overlay .featureoverlays .basefeature div.arrow { float: right; padding: 8px 4px 4px 4px; background: url(../../web/drhm/images/cat_series_right_arrow.png) no-repeat center; }
#icp_content_shop .content .overlay .featureoverlays .basefeature div.arrow img { display: none; }
#icp_content_shop .content .categorybox { height: 250px; }
#icp_content_shop .content .productbox { position: relative; width: 940px; height: 315px; }
#icp_content_shop .content .productbox .product { height: 258px; margin-bottom: 16px; padding: 6px 10px 6px 10px; text-align: left; }
#icp_content_shop .content .productbox .product ul { width: 100%; margin: 6px 0; padding: 0; text-align: left; }
#icp_content_shop .content .productbox .product ul li { list-style: disc; margin: 0 0 0 16px; padding: 0; }
#icp_content_shop .content .productbox .product .checkbox { margin-top:35px; width: 100px; color: #f58f08; }
#icp_content_shop .content .seriesblurb { margin-top: 10px; }
#icp_content_shop .content .seriesblurb p { margin: 0 10px 20px 10px; padding: 0; }
#icp_content_shop .content .seriesblurb p span.head { font-weight: bold; color: #0b5ed7; }
#icp_content_shop .catfocus { width: 691px; padding: 6px 0 20px 0; border-top: 1px solid #999; }
#icp_content_shop .catfocus .focusbox { float: left; margin: 0; width: 156px; padding: 6px 10px 6px 6px; text-align: center; color: #036; font-weight: bold; }
#icp_content_shop .catfocus .focusbox h5 { margin: 0 6px; padding: 0; text-align: left; color: #036; font-weight: bold; font-size: 100%; }
#icp_content_shop .catfocus .focusbox p { margin: 0 6px; padding: 0; text-align: left; color: #000; font-weight: normal; }
#icp_content_shop .categorysidebar { float: right; width: 200px; margin-right: 10px; }
#icp_content_shop .categorysidebar .banner { margin: 0 0 8px 0; }
#icp_content_shop .whyphilips { margin: 10px auto; width: 198px; border: 1px solid #b2b2b2; }
#icp_content_shop .whybox { clear: both; }
#icp_content_shop .whybox h5 { margin: 4px 6px 0 6px; font-size: 100%; color: #06c; }
#icp_content_shop .whybox p { margin: 0 6px 6px 6px; font-size: 90%; line-height: 100%; color: #333; }
#icp_content_shop .homespecials { margin-top: 20px; }
#icp_content_shop .homespecials .special { display: inline; margin-right: 5px; }
#icp_content_shop .p-ls-wrapper-2 { margin: 6px auto; font-size: 90%; height: 21px; width: 244px; }
#icp_content_shop .p-ls-wrapper-1, .p-ls-wrapper-2 { position: relative; text-align: left; z-index: 11; }
#icp_content_shop table.p-ls-hover { background: #fff none repeat scroll 0% 0%; border: 1px solid #C5C7D1; padding: 0px; width: 244px; }
#icp_content_shop td.p-ls-hover-left img.p-flag { margin: 2px 6px; }
#icp_content_shop table.p-ls-hover td { height: 19px; vertical-align: middle; }
#icp_content_shop td.p-ls-hover-left { width: 38px; }
#icp_content_shop td.p-ls-hover-center span { color: #252F47; margin: 0px 4px; }
#icp_content_shop #mainsitelink { font-size: 90%; text-align: center; }
/* Decision */
#icp_content_shop #dr_Decision { margin: 8px 0px 0px 0px; padding: 0; }
#icp_content_shop #dr_Decision .breadcrumb, #dr_Decision .banner { padding: 0 8px 4px 8px; }
/* End Decision */
/* compare functionality styles */
#icp_content_shop .compareOverlay { display: none; position: absolute; right: 8px; top: 24px; background-color: white; border: 1px solid #666; }
#icp_content_shop .content .productbox .compareOverlay .product { clear: both; width: 350px; height: 60px; }
#icp_content_shop .compareOverlay .remove { float: left; width: 40px; height: 50px; }
#icp_content_shop .compareOverlay .remove a { background: url(../../web/drhm/images/flex_trash.png) no-repeat center; width: 40px; height: 40px; display: block; text-decoration: none; }
#icp_content_shop .compareOverlay .thumb { float: left; padding: 0 10px; }
#icp_content_shop .compareOverlay .thumb img { width: 40px; }
#icp_content_shop .compareOverlay h4 { float: left; width: 140px; padding: 0 10px; }
#icp_content_shop .compareOverlay .price { float: left; width: 86px; }
#icp_content_shop .compareOverlay .diffitems,
.compareOverlay .diffmore, 
#icp_content_shop .compareOverlay .checkbox { display: none; }
#icp_content_shop .diffmore a{ color: #0B5ED7; }
/* end compare functionality styles */
/* more overlay styles */
/* cluetip is created dynamically outside the content element */
.cluetip-extra, 
.cluetip-title { display: none; }
.cluetip-default { font-family: Verdana,Arial,Helvetica,sans-serif; padding: 5px 10px; border: 1px solid #999; color: #252f47; background-color: #fff; text-align: left; }
.cluetip-default ul { list-style: square; margin: 0; padding: 10px; }
.cluetip-default .cluetip-outer { position: relative; margin: 0; background-color: #fff; }
.cluetip-default .cluetip-inner { padding: 0; }
/*.cluetip-default .cornerarrow { position: absolute; top: -6px; left: -19px; }*/
.cluetip-arrows { background-image: url(../../web/drhm/images/cdo_arrow.gif);
  background-repeat: no-repeat;
  height:17px;
  position: absolute;
  left: -9px;
  padding-left:10px;
}
/* end more overlay styles */
/* start popup */
#icp_content_shop .popup_window_wrapper {position: absolute;}
#icp_content_shop .popup_window_title_bar_wrapper {width: inherit; height: 34px;}
#icp_content_shop .popup_title_bar {position: relative; height: 23px; padding: 10px 10px 0 10px; float: left; border: 1px solid #797979; border-bottom: none; background: #cacaca url(//drh.img.digitalriver.com/DRHM/Storefront/SiteImplementation/rpeeub2c/rpeeub2cSI/version/15/images/popup_title_bar_back.gif) repeat-x top left;}
#icp_content_shop .popup_title_header {font: 16px normal Arial, Helvetica, sans-serif; color: #000000; padding: 0; margin: 0; overflow: hidden; white-space: nowrap;}
#icp_content_shop .popup_close_button_wrapper {position: absolute; width: 75px; height: 33px; top: 0; right: 0;}
#icp_content_shop .popup_title_fade {float: right; height: 33px; width: 29px; background: url(../../web/drhm/images/popup_title_bar_back_fade.png) no-repeat top left;}
#icp_content_shop .popup_button_cover {float: right; height: 23px; padding: 10px 10px 0 7px; background: #cacaca url(../../web/drhm/images/popup_title_bar_back.gif) repeat-x top left;}
#icp_content_shop .popup_middle_wrapper {width: inherit;}
#icp_content_shop .popup_content_wrapper {padding: 10px; float: left; border: 1px solid #797979; background: #efefef url(../../web/drhm/images/popup_content_back_shadow.gif) repeat-x top left;}
#icp_content_shop .popup_content_iframe {position: absolute; z-index: 10004; top: 45px; left: 25px; border: 1px solid #c4c4c4; background-color: #ffffff;}
#icp_content_shop .popup_left_shadow_wrapper {width: 15px; float: left;}
#icp_content_shop .popup_right_shadow_wrapper {width: 15px; float: left;}
#icp_content_shop .popup_bottom_bar_wrapper {width: inherit; height: 15px;}
#icp_content_shop .popup_shadow1 {width: 15px; height: 34px; float: left; background: url(../../web/drhm/images/popup_shadow1.png) no-repeat top left;}
#icp_content_shop .popup_shadow2 {width: 15px; background: url(../../web/drhm/images/popup_shadow2.png) repeat-y top left;}
#icp_content_shop .popup_shadow3 {width: 15px; height: 16px; background: url(../../web/drhm/images/popup_shadow3.png) no-repeat top left;}
#icp_content_shop .popup_shadow4 {width: 31px; height: 15px; float: left; background: url(../../web/drhm/images/popup_shadow4.png) no-repeat top left;}
#icp_content_shop .popup_shadow5 {height: 15px; float: left; background: url(../../web/drhm/images/popup_shadow5.png) repeat-x top left;}
#icp_content_shop .popup_shadow6 {width: 31px; height: 15px; float: left; background: url(../../web/drhm/images/popup_shadow6.png) no-repeat top left;}
#icp_content_shop .popup_shadow7 {width: 15px; height: 16px; background: url(../../web/drhm/images/popup_shadow7.png) no-repeat top left;}
#icp_content_shop .popup_shadow8 {width: 15px; background: url(../../web/drhm/images/popup_shadow8.png) repeat-y top left;}
#icp_content_shop .popup_shadow9 {width: 15px; height: 34px; float: left; background: url(../../web/drhm/images/popup_shadow9.png) no-repeat top left;}
#icp_content_shop .popup_clear_it {clear: both; height: 0px; font-size: 0px; padding: 0; margin: 0;}
/* end popup */

#icp_content_shop .dr_Content table.csitem,
.cluetip-default table.csitem {
	width: 100%;
	border: 0px none black;
}

#icp_content_shop .dr_Content table.csitem td,
.cluetip-default table.csitem td {
	font-size: 8pt;
	vertical-align: top;
	border-style: none;
	color: #252F47;
}
