#icp_view_overview .icp_rng_ov_label {
	color: #006;
	font-style: italic;
}

#icp_view_overview span.icp_rng_ov_label {
	width: 220px;
}

#icp_view_overview p.icp_rng_ov_header {
	font-weight: bold;
	font-size: 120%;
	color: #00A7BC;
	margin: 2ex 0px 1ex 0px;
}

#icp_view_overview div.icp_rng_ov_section ul {
	margin: 1ex 0px 0px 5px;
	padding-left: 16px;
	list-style: none;
}
#icp_view_overview div.icp_rng_ov_section ul dl {
	margin-left: 20px;
}
#icp_view_overview div.icp_rng_ov_section li p.icp_rng_ov_header {
	font-weight: bold;
	font-size: 100%;
	color: #0E5FD8;
	margin: 1ex 0px;
}
#icp_view_overview div.icp_rng_ov_section dl {
	margin-left: 20px;
}

#icp_view_overview div.icp_rng_ov_filters ul {
	list-style-type: square;
}

#icp_view_overview div.icp_rng_ov_section div.asset {
	margin: 8px 8px;
	text-align: center;
	display: inline-table;
	width: 95px;
}
#icp_view_overview div.icp_rng_ov_section div.asset .image {
	border: 2px outset #aaa;
	padding: 3px;
	text-align: center;
}
#icp_view_overview div.icp_range_ov_section div.asset p.caption {
	margin: 1ex 0px 0px;
}

#icp_view_overview div.icp_rng_ov_prd_comp {
	overflow-x: auto;
	width: 100%;
}
#icp_view_overview table.icp_rng_ov_prd_comp {
	border-collapse: collapse;
	margin-bottom: 30px;
}
#icp_view_overview table.icp_rng_ov_prd_comp th {
	text-align: center;
	font-weight: normal;
	font-style: italic;
}
#icp_view_overview table.icp_rng_ov_prd_comp td {
	vertical-align: top;
	padding: 3px 5px;
}
#icp_view_overview table.icp_rng_ov_prd_comp th .image {
	border: 1px outset #aaa;
	padding: 3px;
	text-align: center;
}
#icp_view_overview table.icp_rng_ov_prd_comp th p.caption {
}
#icp_view_overview table.icp_rng_ov_prd_comp tr.icp_rng_ov_header {
	background-color: #C5C5F4;
}
#icp_view_overview table.icp_rng_ov_prd_comp tr.icp_rng_ov_header td {
	font-style: italic;
}
#icp_view_overview table.icp_rng_ov_prd_comp tr.odd {
	background-color: #F7F7F9;
}
#icp_view_overview table.icp_rng_ov_prd_comp tr.even {
	background-color: transparent;
}
#icp_view_overview table.icp_rng_ov_prd_comp td.icp_rng_ov_header,
#icp_view_overview table.icp_rng_ov_prd_comp th.icp_rng_ov_header {
	width: 200px !important;
}

#icp_view_overview div.icp_rng_ov_richtext {
	border: 1px solid #E1E1EA;
	padding: 5px;
	margin-bottom: 1em;
}
#icp_view_overview div.icp_rng_ov_richtext p.icp_rng_ov_rt_head {
	font-size: 110%;
	font-weight: bold;
	margin-bottom: 1ex;
}
#icp_view_overview div.icp_rng_ov_richtext p.icp_rng_ov_rt_body {
}
#icp_view_overview div.icp_rng_ov_richtext ul {
	list-style-type: disc;
}

.icp_filter_info {
	display: none;
}
#icp_filter_info {
	background-color:#FFFF88;
	border:1px solid #FFFF00;
	font-family:Arial;
	font-size:8pt;
	opacity:0.85;
	padding:5px;
	position:absolute;
	z-index:10;
}