/* 
This file contains CRSC overrides that are to be implemented throught ALL CE locales.
(search title below (or part of) to find where styles are located in this file)
..CRSC overrides to correct problems caused in old pages when we switched to redesign CRSC styles
	..Page Wrapper overfow set to hidden so CE page width isn`t pushed out
..SEO: H tags
..sIFR overrides (we use more than just h1 specified by CSRC)

..Miscealaneous
	..clearfix
..Club philips and styles previoulsy in common.css
*/

/* CRSC overrides to correct problems caused in old pages when we switched to redesign CRSC styles */
/* to stop global.css white background affecting opinionlab */
#icp_content_website div td {background:transparent;overflow:hidden;}
/* Remove the dark-grey and light-grey background behind forms on the 'old' (club Philips and locator) pages */
#icp_content_website .p-form td {
	background-color:#FFFFFF;
	text-align:left;
	vertical-align:top;
}
#icp_content_website .p-form .p-header {
	height:23px;
	vertical-align:middle;
	background-color:#FFFFFF;
	padding-left:7px
}
#icp_content_website .p-form .p-header .header{
	font-size:100%;
	font-weight:bold;
}
#icp_content_website .p-form .p-buttons-override {
	text-align:right;
	padding:5px 10px 6px 0px;
}
#icp_content_website .p-form .p-label{
	white-space:normal;
}
#icp_content_website #selectedCountry{
	width: 280px;
}
#icp_content_website #country{
	width: 280px;
}
#icp_content_website #dob_day{
	width: 60px;
}
#icp_content_website #dob_month{
	width: 140px;
}
#icp_content_website #dob_year{
	width: 80px;
}
#icp_content_website #p-leftnav{
	width:180px;
	padding:10px 3px 10px 10px;
	border-style:solid;
	border-width:0px 1px 0px 0px;
	border-color:#E0E0E8;
}
/* CRSC Page Wrapper overfow set to hidden so CE page width isn`t pushed out */
/*#icp_content_website #p-body-content {overflow:hidden}*/

/* SEO: H tags */
#icp_content_website h1.pagetitle, 
#icp_content_website h1.cattitle, 
#icp_content_website h1.pdetail, 
#icp_content_website h2.pdetail, 
#icp_content_website h2.sub-cattitle, 
#icp_content_website h3.pdetail, 
#icp_content_website h2.pce_pdetail, 
#icp_content_website h3.pdetail_subtitle, 
#icp_content_website h4.pdetail, 
#icp_content_website h5.pdetail, 
#icp_content_website h6.pdetail{
	font-size:100%;
	line-height:100%;
	margin:0;
	padding:2px 0;	
}
#icp_content_website h1.pagetitle {
	color:#005AFF;
	font-size:235%;
	margin-left:10px;
	position:relative;
	top:-5px;
}
#icp_content_website h1.cattitle {
	color:#252F47;
	font-size:180%;
	margin-left:0px;
	position:relative;
	top:-5px;
}
#icp_content_website h1.p-cat-page-title {
	color:#005AFF;
	font-size:18px;
	line-height:100%;
	margin:0;
	padding:0 0 0 10px;
	position:relative;
	top:-4px;
}
#icp_content_website span.static_pagetitle{
	color:#005AFF;
	font-size:18px;
}
#icp_content_website h1.pdetail{
	color:#005AFF;
	font-size:90%;
	font-weight:700;
}
#icp_content_website h2.pdetail {
	color:#888B9C;
	font-size:85%;
}
#icp_content_website h2.sub-cattitle {
	font-size:180%;
	font-weight:500;
	color:#992C96;
}
#icp_content_website h3.pdetail {
	color:#992C96;
	font-size:240%;
	font-weight:normal;
}
#icp_content_website h2.pce_pdetail {
	color:#00A7BC;
	font-size:240%;
	font-weight:normal;
}
#icp_content_website h3.pdetail_subtitle {
	color:#252F47;
	font-size:160%;
	font-weight:normal;
}
#icp_content_website h4.pdetail {
	color:#252F47;
	font-size:160%;
	font-weight:normal;
}
#icp_content_website h5.pdetail {
	clear:left;
	color:#992C96;
	font-size:160%;
	margin-top:10px;
}
#icp_content_website h6.pdetail {
	color:#992C96;
	font-size:110%;
	font-weight:bold;
}
/* override global.css which hides non-sIFR H1 by default. 
We can use this class anywhere in the site so that normal H tags will show...(see below) */
#icp_content_website .sIFR-ignore {visibility:visible !important}

/* ...BUT, defining the specific H tags, that have a class name, will mean that only those are sIFRd.
   ...except, of course, H1 which is set in CRSC`s global.css to be sIFRd.
 */
#icp_content_website .sIFR-active h1.pagetitle,
#icp_content_website .sIFR-active h1.cattitle, 
#icp_content_website .sIFR-active h2.sub-cattitle, 
#icp_content_website .sIFR-active h3.pdetail, 
#icp_content_website .sIFR-active h2.pce_pdetail, 
#icp_content_website .sIFR-active h4.pdetail, 
#icp_content_website .sIFR-active h3.pdetail_subtitle, 
#icp_content_website .sIFR-active h5.pdetail {
	visibility:hidden;
	padding:0
}
#icp_content_website .sIFR-active h3.pdetail {font-size:320%}
#icp_content_website .sIFR-active h2.pce_pdetail {font-size:320%}
#icp_content_website .sIFR-active h3.pdetail_subtitle {font-size:200%}
#icp_content_website .sIFR-active h4.pdetail {font-size:200%}
#icp_content_website .sIFR-active h5.pdetail {font-size:200%;width:600px}

/* Start: Misceallaneous */
/* - Clearfix (fixes floating content layout issues) */
#icp_content_website .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#icp_content_website .clearfix {display: inline-block;}
/* Hides from IE-mac \*/
#icp_content_website * html .clearfix {height: 1%;}
#icp_content_website .clearfix {display: block;}
/* End hide from IE-mac */
/* End: Misceallaneous */

/* Start: Club philips and styles previoulsy in common.css */
/* START: clubphilips.css styles */
#icp_content_website .slotSquare120x90{height:120px;width:90px}
#icp_content_website .verGreyLine{background-image:url('../img/px_grey.gif');background-repeat:repeat-y;height:1px;margin:-5px;padding:0}
#icp_content_website .p-product-details .p-favorites-bottom-eplat{background:url(/assets/img/favorites_bottom_eplatform.gif) no-repeat;border:0;width:514px;height:6px}
#icp_content_website .favo1{font-size:110%;background:url('../img/px_grey.gif') no-repeat 0 0;position:relative;margin-top:0;margin-bottom:0;padding-bottom:0;padding-top:0;height:32px}
#icp_content_website .p-dottedsep-ecd{height:1px;line-height:1px;font-size:1px;background:url(../../../crsc/images/dots.gif) repeat-x;background-position:top;border-collapse:collapse;border-spacing:0}
#icp_content_website .p-left_level_1_ecd_open{margin-left:0;padding-top:3px;font-size:90%;background:url(../../../crsc/images/navlevel02-on.gif) no-repeat 5px;background-color:#FFF;padding-left:25px;padding-right:10px;line-height:20px}
#icp_content_website .p-left_level_0_ecd_closed{font-size:90%;background:url(../../../crsc/images/navlevel02-up.gif) no-repeat 10px 9px;background-color:#FFF;padding-left:20px;padding-right:10px;line-height:20px}
#icp_content_website .p-left_level_0_ecd_open{font-size:90%;background:url(../../../crsc/images/navlevel02-on.gif) no-repeat;background-color:#FFF;padding-left:20px;padding-right:10px;line-height:20px}
#icp_content_website .p-left_level_0_ecd_open_disable{font-size:90%;padding-left:20px;padding-right:10px;line-height:20px}
#icp_content_website .p-left_level_1_ecd_open_disable{font-size:90%;padding-left:25px;padding-right:10px;line-height:20px}
#icp_content_website .p-left_level_2_ecd_open{font-size:90%;background:url(../../../crsc/images/navlevel02-on.gif) no-repeat 10px;background-color:#FFF;padding-left:30px;padding-right:10px;line-height:20px}
#icp_content_website .p-left_level_2_ecd_open_disable{font-size:90%;padding-left:30px;padding-right:10px;line-height:20px}
#icp_content_website .p-left_level_3_ecd_open_disable{font-size:90%;padding-left:35px;padding-right:10px;line-height:20px}
/* END: clubphilips.css styles */

#icp_content_website .myAccountLanding{padding:2px 5px 2px 20px;height:20px;color:#9BA0B0;font-size:11px;font-weight:700}
#icp_content_website .sqSlot1{margin-bottom:0;padding-bottom:5px}
#icp_content_website .p-extrainfo-top-eplat1{line-height:1px;margin:0;padding:0}
#icp_content_website .p-product-details .p-top-eplat{background:url(../../crsc/images/tabular_top_eplatform.gif) no-repeat;border:0;width:560px;height:10px}
#icp_content_website .p-product-details .p-favorites-top-eplat{background:url(/assets/img/favorites_top_eplatform.gif) no-repeat;border:0;width:514px;height:5px}
#icp_content_website .align_right{text-align:right}
#icp_content_website .bold{font-weight:700}
#icp_content_website .height4px{height:4px}
#icp_content_website .padding0px{padding:0}
#icp_content_website .padding3330px{padding:3px 3px 3px 0}
#icp_content_website .padding5px{padding:5px}
#icp_content_website .padding10px{padding:10px}
#icp_content_website .pointer{cursor:pointer}
#icp_content_website .clearboth{clear:both}
#icp_content_website .fontSize10px{font-size:10px}

/* START:reviews styles. */
#icp_content_website .even{margin:0 0 30px 30px}
#icp_content_website .group{float:left;width:260px}
#icp_content_website .group .awardLogoImage{float:left;margin:0 5px}
#icp_content_website .group .productImage{float:left;margin:10px 0 0 30px}
#icp_content_website .review{clear:left;margin-bottom:30px}
#icp_content_website .review .productImage{float:right}
#icp_content_website .review .awardLogoImage{float:right;margin-right:5px}
#icp_content_website .review DIV{width:340px}
#icp_content_website .review .quote{font-style:italic}
#icp_content_website .review SPAN{font-size:130%;font-weight:bold}
#icp_content_website .review .P{font-size:120%}
#icp_content_website .review .descriptor{color:#005AFF}
#icp_content_website .review .date{color:#CCCCCC}
#icp_content_website .paginationList{margin:10px 0 30px 50px}
#icp_content_website .paginationList LI{background:none;padding:0;display:inline}
/* END:reviews styles
/* End: Club philips and styles previoulsy in common.css */

#icp_content_website .featureImages {
	float: right;
	margin-top: 15px;
}
#icp_content_website .featureImages img {
	float: none;
	margin-bottom: 7px;
	margin-left: 20px;
}
#icp_content_website .featureImages div {
	text-align: center;
}

#icp_content_website div.pi_occasionalbox918px .imgContainer {
	float:left;
	overflow:hidden;
	width:auto;
}
#icp_content_website .padding5pxL{padding:5px 5px 5px 12px; float:left; }
#icp_content_website .padding5pxR{padding:5px 14px 5px 5px; float:right; }
#icp_content_website .separtorcol{color:#0e5fd8;}
#icp_content_website .p-form_Bg td { background:url(/assets/img/bgmidshad.gif) left top repeat-y; }
#icp_content_website #searchResults_1 td.searchResults-1_cell-1, #searchResults_1 td.searchResults-1_cell-2  { background:none;}

#icp_content_website #customerdata {
	font-size:115%;
	color:#000000;
}
#icp_content_website #customerdata h3.cdata {
	font-size:120%;
	color:#3366cc;
	margin:5px 0px 0px 0px;
}
#icp_content_website #customerdata .emailaddress { color:#996633; font-weight:bold;}
#icp_content_website #customerdata hr { color:#999966; margin:0px;}
#icp_content_website #customerdata .datalabelcol1 { text-align:right; margin:8px 0 8px 0px;}
#icp_content_website #customerdata .datalabelcol2 { text-align:left; margin:8px 0 8px 0px; padding-left:15px; font-weight:bold;}
/* where to buy layer */
#icp_content_website div.buy { padding:0px; left: 850px; margin: 0px; cursor: pointer; float:right; top: 100px; }
#icp_content_website div.old-buybtn2 { padding-top:20px; padding-right:5px; margin: 0px; cursor: pointer; float:right;}
#icp_content_website #old-p-bottom { padding: 0 15px 0px 15px; border-top: #e0e0e8 1px solid; background:#f6f7f8; left: -15px; WIDTH: 930px; position: relative; min-height:75px;}
#icp_content_website #old-p-bottom div.downloads { margin-top: 0px; float:left; padding-top:5px; padding-bottom:0px; background:#f6f7f8; position:relative;}

/* added for splitting cin and pce */
#icp_content_website div.buybtn2 { padding:20px 0 5px;margin:0;cursor:pointer;float:right;overflow:hidden;}

#icp_content_website #p-bottom { 
	padding: 0 15px 0px 15px; 
	border-top: #e0e0e8 1px solid; 
	border-bottom: #e0e0e8 1px solid; 
	background:#f6f7f8; 
	width: 930px; 
	overflow:hidden;
	position: relative; 
	height:80px;
}
#icp_content_website #p-bottom div.downloads { margin-top: 0px; float:left; padding-top:5px; padding-bottom:0px; padding-left:25px; background:#f6f7f8; position:relative; width:525px; height:75px;}

#icp_content_website #p-bottom div.downloads2 {
	background:#f6f7f8; 
	float:left;
	height:80px;
	margin-top:0;
	margin-bottom:0;
	overflow:hidden;
	padding-top:15px; 
	padding-bottom:0px; 
	padding-left:25px;
	width:525px;
}




#icp_content_website div.downloaditem { padding: 5px 20px; 0px 20px; background: url(/assets/img/icon_pdf.gif) no-repeat 0px 5px; width:128px; float:left;}
#icp_content_website div.downloaditemSeparator { border-right: #e0e0e8 1px solid; width:515px; }
#icp_content_website #buyLayer { display: none; left: 400px; position: absolute; TOP: 150px; width: 278px; padding: 0px; background: url(/assets/img/bg_where2buymidshad.gif) repeat left top; z-index:100;}
#icp_content_website div.genericbuyLayer { background: url(/assets/img/bg_where2buytopshad.gif) no-repeat left top; PADDING-TOP: 7px;  }
#icp_content_website div.genericbuyLayer .bottom { font-size: 1px; background: url(/assets/img/bg_where2buybottomshad.gif) no-repeat; LINE-HEIGHT: 2px; HEIGHT: 12px; }
#icp_content_website div.genericbuyLayer .localheader { margin: 0 10px 0 10px; padding: 0px 10px 5px 10px; font-weight: bold; background:#7C8292; color: #fff;}
#icp_content_website div.genericbuyLayer .localheader SPAN { float: left; }
#icp_content_website div.genericbuyLayer span.close { float: right; margin-top:2px; text-align:right; }
#icp_content_website div.genericbuyLayer .close a {color: #fff; font-weight:normal; }
#icp_content_website div.genericbuyLayer input[type='image'] {float:left;margin-top:-1px}


#icp_content_website div.localcontent { padding: 0px 0px 6px 10px; }
#icp_content_website div.localcontent P span { font-weight:700; padding:0px; margin:0px; float:left; line-height:150%;}
#icp_content_website div.localmapIcon { padding:3px 10px 4px 10px; float: left;}
#icp_content_website div.localcontent form .txtbox { font-size: 80%; float:left; width: 140px; padding:0; margin-right:10px; }
#icp_content_website div.localcontent a { float:left; }
#icp_content_website div.genericbuyLayer .onlineheader { margin: 0 10px 0 10px; padding: 3px 10px 5px 10px; font-weight: bold; background:#7C8292; color: #fff; clear: both; }
#icp_content_website div.genericbuyLayer .onlineheader SPAN { float: left; }
#icp_content_website div.staticdecisionbox div.price{ color:#7CBD2A; float:left; font-size:110%; font-weight:bold; margin-bottom:10px; }
#icp_content_website #onlineresults { padding:0 10px; }
#icp_content_website #onlineresults td.storelogo { padding:5px 10px 5px 7px; }
#icp_content_website div.onlinestore_content #pagination { clear:both; }
#icp_content_website div.onlinestore_content p { text-align:left; padding:5px 17px 0 17px; margin:0px;}
#icp_content_website div.onlinestore_content table { width: 100%; text-align:left; }
#icp_content_website div.onlinestore_content td.storedetail { padding:10px 15px 0px 0px; color:#636571; font-size:90%; line-height:130%}
#icp_content_website div.onlinestore_content td.storedetail span { font-weight:700; color:#000; font-size:110%; }
#icp_content_website #pagination div.padding10pxL { padding:0px 5px 0px 7px; float:left;}
#icp_content_website #pagination div.padding10pxR { padding:5px 2px 0px 7px; float:right;}
#icp_content_website div.onlineresult div { padding:1px; }
#icp_content_website div.onlineresult div:hover {background:#E0E0E8; border:1px solid #EFEEF3; padding:0px; }
#icp_content_website div.localsitetxt { margin:0 10px; background:#EAE9EF; height:41px; border-bottom:1px solid #fff; }
#icp_content_website div.onlinesitetxt { margin:0 10px; background:#EAE9EF; height:41px; border-bottom:1px solid #fff; }
#icp_content_website div.buylyrpagination { background:#EAE9EF; height:25px; border-top:1px solid #CECED8; width:258px; }
#icp_content_website #buyProduct { width:250px; float:left;   }
#icp_content_website #buyProduct img { float:left; margin:5px 5px 0 5px; }
#icp_content_website #buyProduct div.detail { margin:5px 0 0 15px; }


#icp_content_website #pce_buyProduct { width:350px; float:right; padding-top:10px;}
#icp_content_website #pce_buyProduct img, #campn_buyProduct img {float:left;margin:5px 0 0 5px;width:50px;height:50px}
#icp_content_website #pce_buyProduct div.detail,  #campn_buyProduct div.detail {float:left;padding:0 15px;width:175px;overflow:hidden;}


#icp_content_website div.detail span { font-weight:bold; }
#icp_content_website #column1 div.siblings { padding:3px 0px; }
#icp_content_website #productsummary div.sugRetailPrice { float:right;margin-right:15px;text-align:right;}


/* flash check */
#icp_content_website #flashcheck { left: 320px; position: absolute; top: 150px; z-index:200;}
#icp_content_website div.flashlayer { 
	background:transparent url(/assets/img/bg_flashlayer_dropshadow.png) no-repeat;
	background-position:0px;
	padding:0 17px 3px 17px;
	position:absolute;
	width:370px;
}
/* IE6 hack: give popup layer a background color rather than png dropshadow */
#icp_content_website * html div.flashlayer {
	background-image:none;
	padding:0px;
}
#icp_content_website div.genericFlashCheckLayer {
	background: transparent url(/assets/img/bg_formlayer_top.gif) no-repeat top right;
	padding-top:1px;
	background-position:0px 0 0 10px;
}
/* IE6 hack: give popup layer a background color rather than png dropshadow */
#icp_content_website * html div.genericFlashCheckLayer {
	background: transparent url(/assets/img/bg_flashlayer_top.gif) no-repeat top right;
	padding:1px;
	background-position:0px 0px 0px 10px;
}
#icp_content_website #flashcheck .flahs_title { font-weight:bold; color: #FFFFFF; background:#4D8BFF; height:20px; vertical-align: middle; padding:3px 10px 3px 12px; }
.flash_content { padding:18px 10px 2px 10px; font-weight:500; }
#icp_content_website * html div.flashlayercontent {
	border:1px solid #A49A9A;
	border-width: 0px 1px 1px 1px;
	background-color:#EDEDF3;
}
#icp_content_website .flash_content img { float:left; padding:0 15px 0 10px; } 
#icp_content_website .flash_content span.flashContent { padding:0 10px 0 0px; }
#icp_content_website div.flash_btn { float:right; margin-right:8px; }
#icp_content_website .flash_btn table { margin: 0px 10px 0px 5px; }
#icp_content_website #flashcheck .clearboth { padding-top: 4px; padding-bottom margin-top:0px; }
#icp_content_website .flashInstruction { font-weight: normal; color: #7C8291; margin-bottom: 3px; padding:0px 10px 10px 22px; }
#icp_content_website #pageoption { font-weight:bold; color:#ACAFB6; padding:0px; margin: 0px 10px 0 0; text-align:right; position:relative; float:right; width:950px; top:18px;}
#icp_content_website #pageoption a:link { color:#558BE7; }

#icp_content_website .bodyTextBottom { padding:10px 10px 15px 20px; }
#icp_content_website #productdecision_static p.static_pagetitle_margin { margin-right:265px; margin-top:0px; }
/* IE6 Only */
#icp_content_website *html #pageoption { top:27px; }
/* IE7 Only */
#icp_content_website *:first-child+html #pageoption { top:27px; }
#icp_content_website div.bodyTextTop h1, div.bodyTextBottom h1 { padding-left:0px }

#icp_content_website .productdecision_container {padding:0px 0px 0px 0px}
#icp_content_website #grid-1col-15pxPadding {
	padding-top:10px;
}
#icp_content_website div.genericPopupLayer .content #productsummary dl {
	margin-top:0px;
}
#icp_content_website div.genericPopupLayer .content #productsummary {
	padding: 20px 20px 15px 20px;
}
#icp_content_website div.genericPopupLayer .tellAFriendForm span { font-size: 10px; }
#icp_content_website div.genericPopupLayer span a.privacyLink { font-weight:normal; }

#icp_content_website div.emergencyboxwrapper {
	clear:left;
	left:10px;
	margin:5px 0 0 0;		
}

#icp_content_website .spec_print{
	left:0px;
}
#icp_content_website .spec_print ul {
    float:right;
    right:10px;
}
#icp_content_website dl.curved dd a.viewmore {
	padding-left:10px;
}
#icp_content_website dl.curved dd div.hidden {
	margin-left:0px;
}
#icp_content_website dl.curved dd div.noGlossary{
    margin-left:10px;
}
#icp_content_website h1.Glossary-pagetitle {
 color:#005AFF;
 font-size:235%;
 margin-left:10px;
 position:relative;
 top:10px;
}
#icp_content_website td.p-left_level_1_active a {background:url(../../../crsc/images/navlevel01-active-on.gif) 10px 9px no-repeat; }

