/*
##############################################
# SITE WIDE STYLES                           #
# Add any styles which would be site-wide    #
# here. These can include error styles, list #
# styles, table styles and more.             #
##############################################
##############################################
# CONSOLIDATED STYLES                        #
# These styles are generic settings for all  #
# of the pages.                              #
# To override a style, you may need to       #
# define a more specific selector using      #
# the ID defined for that specific page:     #
#   ex.) add the new style for the specific  #
#      page you want to address. Example:    #
#      #dr_ShoppingCart h1                   #
##############################################
*/

/* BEGIN GENERIC STYLES */

#icp_content_shop .dr_Content {
  /* font:12px Arial,Verdana,Helvetica,sans-serif; */
  color:#000000;
  text-align:left;
  background-color:#FFFFFF;
  padding:8px;
  /* peekaboo fix */
  /* position:relative; */
  min-width:0;
  z-index: 1;
}
#icp_content_shop #dr_Home {
  padding: 0;
}
#icp_content_shop .dr_Content h3 {
  font-size:12px;
}
#icp_content_shop .dr_Content h2 {
  font-size:14px;
}
#icp_content_shop .dr_Content h1 {
  font-size:16px;
  color:#464646;
  margin: 5px 0px 10px 0px;
}
#icp_content_shop .dr_error {
  font-weight:bold;
  color:red;
}
#icp_content_shop .dr_Content img {
  border:0px; 
}
#icp_content_shop .dr_hiddenText {
  display:none;
}
/* Form button styles */
/* button alignment */
#icp_content_shop #dr_siteButtons {
  margin:10px 0px;
  text-align:right;
  clear:both;
}
/* button design */
#icp_content_shop input.dr_button, #icp_content_shop a.dr_button {
  font-family:Arial,Verdana,Helvetica,sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#FFFFFF;
  background-color:#C0C0C0;
  border:1px solid #C0C0C0;
  margin-left:10px;
  cursor:hand;
}
#icp_content_shop a.dr_button {
  padding:1px 5px 4px 5px;
  text-decoration:none;
}
#icp_content_shop a.dr_button:hover {
  color:#c0c0c0;
}
* html #icp_content_shop a.dr_button {
  padding:3px 5px 2px 5px;
  color:#FFFFFF;
  position:relative;
  bottom:-2px;
}
#icp_content_shop .dr_hr_line {
  width:100%;
  border-bottom:1px solid #C0C0C0;
}
#icp_content_shop a:link {
  color:#0B5ED7;
}
#icp_content_shop a:visited {
  color:#800080;
}
#icp_content_shop a:hover {
  color:#0B5ED7;
}

/* Styles for clearing */
#icp_content_shop .dr_clearAfterBoth:after {
  clear:both; 
  content:"."; 
  display:block; 
  height:0; 
  visibility:hidden;
}
#icp_content_shop .dr_clearAfterLeft:after {
  clear:left; 
  content:"."; 
  display:block; 
  height:0; 
  visibility:hidden;
}
#icp_content_shop .dr_clearAfterRight:after {
  clear:right; 
  content:"."; 
  display:block; 
  height:0;
  visibility:hidden;
}
#icp_content_shop .dr_clearBoth {
  clear:both;
}
#icp_content_shop .dr_clearLeft {
  clear:left
}
#icp_content_shop .dr_clearRight {
  clear:right
}
/* End styles for clearing */


/* BEGIN POPUP WINDOW STYLES */
#icp_content_shop #dr_popUp {
  margin:5px;
}
#icp_content_shop #dr_closeWindow {
  text-align:center;
}
/* END POPUP WINDOW STYLES */

/* BEGIN PRODUCT LIST STYLES */
#icp_content_shop .dr_Content ul.dr_productList {
  list-style-type:none;
}
#icp_content_shop .dr_Content ul.dr_productList li {
  display:inline;
  margin:0px;
}
/* END PRODUCT LIST STYLES */

/* Address Styles - billing / shipping */
#icp_content_shop .dr_Content address {
  font-style:normal;
  padding:5px;
}
/* Table styles - Can be overridden with a direct id call. (i.e. #dr_ConfirmOrder table#dr_confirmTbl) */
#icp_content_shop .dr_Content table {
  border:0px solid #C0C0C0;
  border-collapse:collapse;
  width:687px;
  font-size:9pt;
  color:#000000;
}
/* Table header styles */
#icp_content_shop .dr_Content table th {
  border:1px solid #C0C0C0;
  background-color:#C0C0C0;
  font-weight:bold;
  font-size:12px;
  color:#FFFFFF;
  padding:3px 8px;
	text-align: left;
}

#icp_content_shop .dr_Content table td {
	font-size: 12px;
}

/* Table odd and even row styles */
#icp_content_shop .dr_Content table tr.dr_evenRow {
  background-color:#FFFFFF;
}
#icp_content_shop .dr_Content table tr.dr_oddRow {
  background-color:#FFFFFF;
}
/* Table header style for product name */
#icp_content_shop .dr_Content th.dr_productName {
  padding-left:3px;
  text-align:left;
  width:65%;
}
#icp_content_shop .dr_Content td.dr_productName {
  padding:5px 3px;
}
/* Table cell styles */
#icp_content_shop .dr_Content table td {
  border:1px solid #C0C0C0;
  border-right:0px;
  border-left:0px;
  padding:2px 5px;
  vertical-align:top;
}
/* Empty cell styles - these are cells with no content (usually in the "totals" rows) */
#icp_content_shop .dr_Content table td.dr_emptyCell {
  border:0px;
}
/* Totals cells - these are the cells that contain totals information */
#icp_content_shop .dr_Content table tr#dr_subTotal td.dr_qty,
#icp_content_shop .dr_Content table tr#dr_discountTotal td.dr_qty,
#icp_content_shop .dr_Content table tr#dr_shippingTotal td.dr_qty,
#icp_content_shop .dr_Content table tr#dr_shippingDiscountTotal td.dr_qty,
#icp_content_shop .dr_Content table tr#dr_taxTotal td.dr_qty,
#icp_content_shop .dr_Content table tr#dr_shippingEstimator td.dr_qty,
#icp_content_shop .dr_Content table tr#dr_feeTotal td.dr_qty,
#icp_content_shop .dr_Content table tr#dr_priceTotal td.dr_qty,
#icp_content_shop .dr_Content table td.dr_totals {
  border:0px;
  text-align:right;
  padding:6px 3px;
}
#icp_content_shop .dr_Content table tr#dr_priceTotal {
  font-weight:bold;
}
/* Used on entire price column, including lineitem prices and the totals */
#icp_content_shop .dr_Content table th.dr_price,
#icp_content_shop .dr_Content table th.dr_unitPrice,
#icp_content_shop .dr_Content table th.dr_extendedPrice,
#icp_content_shop .dr_Content table td.dr_price,
#icp_content_shop .dr_Content table td.dr_priceVAT,
#icp_content_shop .dr_Content table td.dr_unitPrice,
#icp_content_shop .dr_Content table td.dr_extendedPrice
{
  text-align:right;
  padding:6px 5px;
  white-space:nowrap;
}
/* Shipping Line Item style */
#icp_content_shop .dr_Content table #dr_shippingEstimator td {
  border:0px;
  padding:6px 5px;
}
#icp_content_shop .dr_Content table .dr_label {
  display:none;
}
/* Styles for the lineitem details for a product in the order */
#icp_content_shop a.dr_expandDetails  {
  color:#0B5ED7;
  font-size:11px;
  text-decoration:none;
}
#icp_content_shop .dr_productDetails {
  padding:2px;
  margin:2px 0px 2px 12px;
  font-size:11px;
  list-style-type:none;
  font-weight: normal;
}
#icp_content_shop a.dr_details  {
  color:#666;
  font-size:11px;
  text-decoration:none;
}
#icp_content_shop .dr_Content #dr_cartTbl .dr_productName ul,
#icp_content_shop .dr_Content #dr_confirmTbl .dr_productName ul,
#icp_content_shop .dr_Content #dr_invoiceTbl .dr_productName ul {
  font-size:11px;
  list-style-type:none;
  padding:0px 0px 0px 10px;
  margin:5px 0px 0px 0px;
}
/* Styles for breadcrumbing on site */
#icp_content_shop #dr_CheckoutBreadcrumb {
  margin:0px;
  padding:0px;
}
#icp_content_shop ul#dr_breadcrumbTitles {
  list-style:none;
  margin:0px;
  padding:0px;
}
#icp_content_shop #dr_breadcrumbTitles li {
  display:inline;
  margin:10px 10px 10px 0px;
  padding:0px;
}
#icp_content_shop #dr_breadcrumbTitles li.dr_titleOn {
  font-weight:bold;
}
/* Forms */
#icp_content_shop .dr_Content form {
  margin:0px;
  padding:0px;
}
/* Legends - usually there for 508 compliance and set to display none */
#icp_content_shop .dr_Content legend {
  display:none;
  margin:0px;
  padding:0px;
}
@media aural {
  #icp_content_shop .dr_Content legend {
    display:block;
    margin:0px;
    padding:0px;
  }
}
@media screen {
  #icp_content_shop .dr_Content legend {
    display:none;
    margin:0px;
    padding:0px;
  }
}
/* Fieldset headers - these are more for screen (browsers) that screen readers such as jaws */
#icp_content_shop .dr_Content fieldset h3 {
  background-color:#C0C0C0;
  color:#FFFFFF;
  margin:0px;
  padding:2px;
  font-size:1em;
}
/* Fieldset, these are goupings of similar form elements */
#icp_content_shop .dr_Content fieldset {
  border:1px solid #C0C0C0;
  padding:0px;
  margin:0px;
  margin-bottom:10px;
  padding-bottom:10px;
}
.dr_Content fieldset{
  border:0px;
}
/* Input - input elements */
#icp_content_shop .dr_Content fieldset input {
  margin-left:10px;
}
/* Select Boxes */
#icp_content_shop .dr_Content fieldset select {
  margin-left:10px;
}
/* Select Boxes */
#icp_content_shop .dr_Content fieldset textarea {
  margin-left:10px;
}
/* Form lines - this is a div that contains the label and input element. The default CSS will place
these on new lines */
/* mack a-hack \*/
#icp_content_shop .dr_Content fieldset .dr_formLine {
  clear:both;
}
/* */
#icp_content_shop .dr_Content fieldset .dr_formLine {
  margin:3px 10px;
  height:3em;
}
/* mack a-hack \*/
#icp_content_shop .dr_Content fieldset .dr_formLine {
  height:auto;
}
/* */
/* Labels - this CSS will give the form a nice lined up columnar layout within each fieldset */

#icp_content_shop .dr_Content fieldset .dr_label {
  display:block;
  float:left;
  width:130px;
}
#icp_content_shop .dr_Content fieldset .dr_label_right {
  display:block;
  float:left;
  width:80%;
}
#icp_content_shop .dr_Content fieldset#dr_optIn label {
  width:92%;
  float:right;
}
#icp_content_shop .dr_Content fieldset#dr_ACHFormFields #dr_optInACH label {
  width:93%;
  float:right;
}
/* Subheadings in the forms */
#icp_content_shop .dr_Content fieldset h5 {
  display:inline;
  width:400px;
}
/* Style for pages with minimal text, such as error pages */
#icp_content_shop #dr_shortPage {
  text-align:center;
  margin:40px 0px 100px 0px;
}
/* Styles for Terms and Agreements text */
#icp_content_shop #dr_TCAgreement,
#icp_content_shop #dr_TCDisclosure,
#icp_content_shop #dr_TCFooter {
  clear:both;
  padding:10px 0px;
}
/* END GENERIC STYLES */

/*
######################################################
# SPECIFIC PAGE CSS                                  #
# The following CSS declarations are for specific    #
# pages within the site.                             #
######################################################
*/

/* BEGIN HOME/WELCOME PAGE CSS */
/* Styles for the advanced home page with merchandising offers */
#icp_content_shop #dr_Home #dr_column1 {
  width:65%;
  float:left;
}
#icp_content_shop #dr_Home #dr_column2 {
  width:30%;
  margin:0px 0px 0px 10px;
  float:left;
}
#icp_content_shop #dr_Home #dr_topSellersOffer h3 {
  text-align:center;
}
#icp_content_shop #dr_Home #dr_storeSpecialsOffer {
  text-align:center;
}
#icp_content_shop #dr_featuredItemsOffer .dr_thumbnailImage img {
  float:left;
  margin: 0px 5px 5px 0px;
}
#icp_content_shop #dr_Home .dr_button {
  margin:0px;
}
/* Styles for the basic product listing home page */
#icp_content_shop #dr_Home #dr_totalSize {
  text-align:right;
  margin-bottom:8px;
}
#icp_content_shop #dr_homeProductListIteration #dr_column1 {
  width:25%;
  float:left;
}
#icp_content_shop #dr_homeProductListIteration #dr_column2 {
  width:70%;
  float:left;
}
#icp_content_shop #dr_homeProductListIteration .dr_button {
  margin:0px;
}
/* END HOME/WELCOME CSS */

/* BEGIN PRODUCT FINDER PAGE CSS */
#icp_content_shop #dr_ProductFinder #dr_load {
  color:#999999;
  float:left;
  font:11px/16px tahoma, verdana, arial;
  margin:0px;
  padding:23px 0px 0px 0px; 
}
#icp_content_shop #dr_ProductFinder #dr_load img {
  color:#999999;
  padding:0px 0px 0px 12px; 
}
#icp_content_shop #dr_ProductFinder #dr_ProductFinderNav fieldset {
  float:left;
  margin:0px;
  padding:0px;
}
#icp_content_shop #dr_ProductFinder #dr_ProductFinderNav .dr_formLine {
  float:left;
  padding:0px 10px 0px 0px;
}
#icp_content_shop #dr_ProductFinder #dr_ProductFinderNav .dr_formLine label {
  display:block;
  padding:0px 0px 5px 0px;
}
#icp_content_shop #dr_ProductFinder #dr_ProductFinderNav .dr_formLine select {
  background-color:#fff;
  border:1px solid #7F9DB9;
  color:#000000;
}
#icp_content_shop #dr_ProductFinder #dr_ProductFinderNav .dr_formLine #dr_siteButtons {
  padding:9px 0px 0px 0px;
  text-align:left;
}
#icp_content_shop #dr_ProductFinder a.toolTip {
  color:#3e6b8a; 
  font:11px arial, verdana, sans-serif;
  padding:0px; 
  position:relative; 
  text-decoration:none; 
  z-index:10;
}
#icp_content_shop #dr_ProductFinder a.toolTip:hover { 
  background:none; 
  text-decoration:none;
}
#icp_content_shop #dr_ProductFinder a.toolTip span {
  display:none;
}
#icp_content_shop #dr_ProductFinder a.toolTip:hover span {
  border:1px solid #7F9DB9; 
  color:#666; 
  display:block; 
  font:10px/18px arial, verdana, sans-serif; 
  left:5px; 
  padding:3px; 
  position:absolute; 
  margin:10px; 
  width:175px; 
  top:15px;
}
/* END PRODUCT FINDER PAGE CSS */

/* BEGIN DYNAMIC PRODUCT LIST CSS */
#icp_content_shop #dr_DynamicProductList .dr_siteButtonsTop,
#icp_content_shop #dr_DynamicProductList .dr_siteButtonsBottom {
  clear:both;
  float:right;
  margin:10px;
}
#icp_content_shop #dr_DynamicProductList .dr_dynamicProductListItem {
  clear:both;
}
#icp_content_shop #dr_DynamicProductList .dr_thumbnailImage {
  float:left;
  margin:5px;
  width:20%;
}
#icp_content_shop #dr_DynamicProductList .dr_productNameAndDescription {
 float:left;
 width:50%;
}
#icp_content_shop #dr_DynamicProductList .dr_price {
  float:left;
  margin:15px;
  width:10%;
}
#icp_content_shop #dr_DynamicProductList .dr_qty {
  margin:12px 7px;
}
#icp_content_shop #dr_DynamicProductList .dr_buyNowButton img {
  margin-top:10px;
}

/* END DYNAMIC PRODUCT LIST CSS */



/* BEGIN PRODUCT LISTING PAGE CSS */

/* Styles for CategoryProductList page */

#icp_content_shop #dr_CategoryProductList #dr_totalSize {
  text-align:right;
  margin-bottom:8px;
}

#icp_content_shop #dr_CategoryProductList #dr_column1 {
  width:25%;
  float:left;
}
#icp_content_shop #dr_CategoryProductList #dr_column2 {
  width:70%;
  float:left;
}
#icp_content_shop #dr_CategoryProductList .dr_button,
#icp_content_shop #dr_ProductSearchResults .dr_button {
  margin:0px;
}
#icp_content_shop #dr_CategoryProductList .dr_productDescription table,
#icp_content_shop #dr_CategoryProductList .dr_productDescription table td,
#icp_content_shop #dr_CategoryProductList .dr_productDescription td,
#icp_content_shop #dr_CategoryProductList .dr_productDescription th {
  width:auto;
  border:none;
}
/* Styles for ProductSearchResults page */
#icp_content_shop #dr_ProductSearchResults { float: left; width: 540px; }
#icp_content_shop #dr_ProductSearchResults #dr_column1 {
  width:10%;
  float:left;
  display: none;
}
#icp_content_shop #dr_ProductSearchResults #dr_column2 {
  width:110px;
  float:left;
}
#icp_content_shop #dr_ProductSearchResults #dr_column3 {
  width:183px;
  float:left;
}
#icp_content_shop #dr_ProductSearchResults #dr_column4 {
  width:172px;
  float:left;
}
#icp_content_shop #dr_ProductSearchResults #dr_column5 {
  width:70px;
  float:left;
  text-align: right;
}
#icp_content_shop #dr_ProductSearchResults #dr_totalSize {
  text-align:left;
  margin-bottom:8px;
  color: #666;
}
#icp_content_shop #dr_ProductSearchResults #dr_totalSize b {
  color: black;
}
/* END PRODUCT LISTING CSS */

/* BEGIN PRODUCT DETAIL PAGE CSS */
#icp_content_shop #dr_ProductDetails.dr_Content {
  border: 1px solid #d9d9d9;
  padding: 0px;
}
#icp_content_shop #dr_ProductDetails #dr_thumbnailImage {
  width:350px;
  float:left;
  padding-top: 5px;
}
#icp_content_shop #dr_ProductDetails #dr_purchaseDetails {
  width:360px;
  float:left;
  padding: 0px 5px 5px 15px;
}
#icp_content_shop #dr_ProductDetails .dr_button {
  margin:0px;
}
#icp_content_shop table#dr_vlpPointLevels {
  width:300px;
}
#icp_content_shop #dr_ProductDetails #dr_purchaseDetails table,
#icp_content_shop #dr_ProductDetails #dr_purchaseDetails td,
#icp_content_shop #dr_ProductDetails #dr_purchaseDetails th {
  max-width:410px;
  width:auto;
  padding: 0px;
}
#icp_content_shop #dr_ProductDetails #dr_purchaseDetails table table,
#icp_content_shop #dr_ProductDetails #dr_purchaseDetails table table td,
#icp_content_shop #dr_ProductDetails #dr_purchaseDetails table table th{
  border:none;
  width:inherit;
}

#icp_content_shop #dr_ProductDetails #dr_socialNetworkLinks, 
#icp_content_shop #dr_ProductDetails #dr_socialNetworkLinks span {
 margin:10px 10px 10px 0px;
}
#icp_content_shop #dr_deliciousLink, #dr_facebookLink, #dr_stumbleLink , #dr_diggLink{
display:none;
}
#icp_content_shop #dr_socialTitle {
font-weight:bold; float:left;
}
/* END PRODUCT DETAIL CSS */

/* BEGIN INTERSTITIAL (USCS) PAGE CSS */
#icp_content_shop #dr_interstitialIteration td{
  margin: 4px 0px;
  padding:2px;
  border:0px;
}
#icp_content_shop #dr_ProductCrossSell span.dr_productName {
  font-weight:bold;
}
/* END INTERSTITIAL PAGE CSS */

/* BEGIN INTERSTITIAL DETAIL POP UP PAGE CSS - linked to from USCS and cart product names */
#icp_content_shop #dr_ProductInterstitialDetails p#dr_productName {
  font-weight:bold;
  text-align:center;
}
#icp_content_shop #dr_ProductInterstitialDetails p#dr_productImage {
  text-align:center;
}
/* END INTERSTITIAL DETAIL POP UP PAGE CSS */

/* BEGIN SHOPPING CART PAGE CSS */
#icp_content_shop #dr_cartTbl {
  clear:both;
}

#icp_content_shop #dr_ShoppingCart {
  position:relative; /* DO NOT REMOVE! This needs to be here to correctly position the Cart Details Overlay. */
}

#icp_content_shop #dr_ShoppingCart ul#dr_banner_ads {
  list-style-type:none;
  text-align:center;
}
* html #icp_content_shop #dr_ShoppingCart a.dr_button {
  bottom:2px;
  
}
#icp_content_shop #dr_ShoppingCart #dr_orderNumber {
  float:left;
  padding:4px 0px;
}
#icp_content_shop #dr_ShoppingCart #dr_currencySelector {
  text-align:right;
  padding:0px 0px 5px 0px;
}
#icp_content_shop #dr_ShoppingCart #dr_orderNumber p,
#icp_content_shop #dr_ShoppingCart #dr_currencySelector p 
{
  padding:0px;
  margin:0px;
}
#icp_content_shop #dr_currencySelector noscript input {
  margin-bottom: -5px;
}
#icp_content_shop #dr_ShoppingCart #nonUpdateableQty {
  padding:0px 5px;
  margin:0px 21px 0px 0px;
}
*html #icp_content_shop #dr_ShoppingCart #nonUpdateableQty {
  padding:0px 5px;
  margin:0px 30px 0px 0px;
}
#icp_content_shop #dr_ShoppingCart .dr_couponCode {
  background-color:#efefef;
  padding:5px;
  vertical-align:middle;
}
#icp_content_shop #dr_ShoppingCart .dr_couponCode .dr_button {
  margin:3px 0px 1px 0px;
  background:none;
}
#icp_content_shop #dr_ShoppingCart .dr_couponCode input {
  vertical-align:middle;
  padding-left: 5px;
}
#icp_content_shop #dr_shippingCartHeader {
  border:1px solid #C0C0C0;
  background-color:#C0C0C0;
  font-weight:bold;
  font-size:12px;
  color:#FFFFFF;
}
#icp_content_shop #dr_cartTbl .dr_CandyRack, 
#icp_content_shop #dr_cartTbl .dr_backUpCD,
#icp_content_shop #dr_cartTbl .dr_EDS 
{
  padding:4px 5px;
}
#icp_content_shop #dr_cartTbl .dr_CandyRack input,
#icp_content_shop #dr_cartTbl .dr_backUpCD input,
#icp_content_shop #dr_cartTbl .dr_EDS input {


  margin:3px 5px 0px 0px;
}
#icp_content_shop #dr_checkoutButton,
#icp_content_shop #dr_checkoutButton input
{
 margin:0px;
}
#icp_content_shop #dr_ShoppingCart #dr_continueShoppingButton {
  float:left;
  width:40%;
  text-align:left;
  margin:1px 0px 0px 0px;
}
#icp_content_shop #dr_ShoppingCart #dr_saveOrderButton {
  float:left;
  text-align:right;
  margin:1px 0px 0px 0px; 
}

#icp_content_shop #dr_ShoppingCart select{
  width:150px;
}

/* END SHOPPING CART CSS */



/* BEGIN AJAX_MINI_CART CSS */

#icp_content_shop #dr_scs_main_wrapper {position: relative; background-color: #ffffff; width: 158px; height: auto; border: 1px solid #cccccc; font-size: 11px; z-index: 1;}
#icp_content_shop #dr_scs_top_wrapper {z-index: 1; height: auto;}
#icp_content_shop #dr_scs_top_wrapper form {margin: 0; padding: 0;}
#icp_content_shop #dr_scs_cart_empty {height: 19px; background-color: #f2f2f2; border-bottom: 1px solid #cccccc; font-weight: bold; padding: 10px 10px 0px 10px; _height: 16px; _padding: 8px 10px 7px 10px; z-index: 1;}
#icp_content_shop #dr_scs_overlay_wrapper {background-color: #000000; cursor: wait; opacity: 0.65; width: 100%; position: absolute; left: 0px; top: 0px; display: none; filter:alpha(opacity=65); z-index: 100;}
#icp_content_shop #dr_scs_progress_wrapper {width: 150px; cursor: wait; position: absolute; left: 50%; top: 50%; display: none; z-index: 101;}
#icp_content_shop .dr_scs_clear {clear: both; height: 0px; font-size: 0px; line-height: 0px; margin-top: 0px; _margin-top: -12px;}
/* Top cart-full area */
#icp_content_shop #dr_scs_cart_full {position: relative; background-color: #f2f2f2; border-bottom: 1px solid #cccccc; height: 21px; font-weight: bold; padding: 10px 0px 10px 10px; line-height: 12px; _height: 23px; _padding: 8px 0px 9px 10px; z-index: 2;}
#icp_content_shop #dr_scs_cart_full #dr_scs_cart_img {position: absolute; top: 10px; right: 10px; width: 26px;}
#icp_content_shop #dr_scs_cart_full_arrow_wrapper {height: 8px; width: 13px; position: absolute; left: 11px; bottom: -8px; z-index: 3;}
#icp_content_shop #dr_scs_cart_full_arrow_wrapper .dr_scs_cart_arrow_point {background-color: #cccccc; height: 1px; line-height: 1px; font-size: 1px; width: 1px; margin-left: 8px;}
#icp_content_shop #dr_scs_cart_full_arrow_wrapper .dr_scs_cart_arrow_line_border1 {background-color: #f2f2f2; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; height: 1px; line-height: 1px; font-size: 1px; margin-left: 7px; width: 1px;}
#icp_content_shop #dr_scs_cart_full_arrow_wrapper .dr_scs_cart_arrow_line_border2 {background-color: #f2f2f2; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; height: 1px; line-height: 1px; font-size: 1px; margin-left: 6px; width: 3px;}
#icp_content_shop #dr_scs_cart_full_arrow_wrapper .dr_scs_cart_arrow_line_border3 {background-color: #f2f2f2; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; height: 1px; line-height: 1px; font-size: 1px; margin-left: 5px; width: 5px;}
#icp_content_shop #dr_scs_cart_full_arrow_wrapper .dr_scs_cart_arrow_line_border4 {background-color: #f2f2f2; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; height: 1px; line-height: 1px; font-size: 1px; margin-left: 4px; width: 7px;}
#icp_content_shop #dr_scs_cart_full_arrow_wrapper .dr_scs_cart_arrow_line_border5 {background-color: #f2f2f2; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; height: 1px; line-height: 1px; font-size: 1px; margin-left: 3px; width: 9px;}
#icp_content_shop #dr_scs_cart_full_arrow_wrapper .dr_scs_cart_arrow_line_border6 {background-color: #f2f2f2; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; height: 1px; line-height: 1px; font-size: 1px; margin-left: 2px; width: 11px;}
#icp_content_shop #dr_scs_cart_full_arrow_wrapper .dr_scs_cart_arrow_line {background-color: #f2f2f2; height: 1px; line-height: 1px; font-size: 1px; margin-left: 2px; width: 13px;}
/* Cart contents */
#icp_content_shop #dr_scs_cart_contents_wrapper {position: relative;}
#icp_content_shop #dr_scs_cart_contents {position: relative; padding: 0px 10px 0px 10px; line-height: 12px; z-index: 1;}
#icp_content_shop .dr_scs_cart_prod_wrapper {width: 100%; padding: 10px 0px 10px 0px; border-bottom: 1px solid #cccccc;}
#icp_content_shop .dr_scs_cart_prod_wrapper input {margin-bottom: 5px; padding: 2px 0px 2px 0px; border: 1px solid #cccccc; font-size: 11px; color: #292929; background-color: #ffffff; width: 20px; text-align: center;}
#icp_content_shop .dr_scs_cart_prod_wrapper .dr_scs_cart_prod_left {float: left; width: 22px; text-align: center; vertical-align: top;}
#icp_content_shop .dr_scs_cart_prod_wrapper .dr_scs_cart_prod_left .dr_scs_button_refresh_image {width: 13px; height: 13px; border: 0px;}
#icp_content_shop .dr_scs_cart_prod_wrapper .dr_scs_cart_prod_right {float: right; width: 106px; padding-left: 10px; _padding-left: 0px;}

#icp_content_shop .dr_scs_cart_prod_wrapper .dr_scs_cart_prod_right .dr_scs_cart_prod_name_link {width: auto;}

#icp_content_shop .dr_scs_cart_prod_wrapper .dr_scs_cart_prod_right .dr_scs_cart_prod_delivery {font-weight: bold;}

/* Next/back links and checkout button */

#icp_content_shop #dr_scs_cart_buttons_wrapper {padding: 0px 10px 10px 10px; z-index: 1; _padding-bottom: 7px;}
#icp_content_shop #dr_scs_cart_buttons_wrapper #dr_scs_next_back_wrapper {width: 100%; padding-top: 5px; _margin: -2px 0px -4px 0px;}
#icp_content_shop #dr_scs_cart_buttons_wrapper #dr_scs_next_back_wrapper #dr_scs_next_back_left {float: left; text-align: left;}
#icp_content_shop #dr_scs_cart_buttons_wrapper #dr_scs_next_back_wrapper #dr_scs_next_back_right {float: right; text-align: right;}
#icp_content_shop #dr_scs_cart_buttons_wrapper #dr_scs_next_back_wrapper .dr_scs_next_back_link {width: auto;}
#icp_content_shop #dr_scs_cart_buttons_wrapper #dr_scs_next_back_wrapper .dr_scs_next_back_arrow {font-size: 15px; font-weight: bold; color: #838383;}
#icp_content_shop #dr_scs_cart_buttons_wrapper a img {margin-top: 10px;}
/* Product variation overlay */
#icp_content_shop .dr_scs_delivery_wrapper {width: 154px; position: absolute; right: 2px; display: none; z-index: 6;}
#icp_content_shop .dr_scs_delivery_wrapper .dr_scs_delivery_inner_table .dr_scs_delivery_inner_table_middle {width: 138px; _width: 140px; background-color: #f2f2f2; border: 1px solid #838383; padding: 8px; margin: 0 auto; font-size: 10px; line-height: 12px;}
#icp_content_shop .dr_scs_delivery_wrapper .dr_scs_delivery_inner_table .dr_scs_delivery_inner_table_middle .dr_scs_delivery_inner_table_title {font-weight: bold; margin-bottom: 7px;}
#icp_content_shop .dr_scs_delivery_wrapper .dr_scs_delivery_inner_table .dr_scs_delivery_inner_table_middle p {margin: 6px 0 0 0; padding-top: 6px; border-top: 1px solid #cccccc;}
#icp_content_shop .dr_scs_delivery_wrapper .dr_scs_delivery_inner_table .dr_scs_delivery_inner_table_middle select.dr_scs_delivery_select {width: 125px;}
#icp_content_shop .dr_scs_delivery_wrapper .dr_scs_delivery_inner_table .dr_scs_delivery_inner_table_middle .dr_scs_delivery_button {margin-top: 6px; padding-top: 8px; border-top: 1px solid #cccccc; text-align: right;}
/* Product variation shadows */
#icp_content_shop .dr_scs_delivery_inner_table .dr_scs_delivery_inner_table_top_left {width: 8px; height: 8px; line-height: 8px; font-size: 1px; padding: 0px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow8_w.png); background-position: bottom right; background-repeat: no-repeat; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow8_w.png', sizingMethod='scale'); _background: none;}
#icp_content_shop .dr_scs_delivery_inner_table .dr_scs_delivery_inner_table_top_middle {height: 8px; line-height: 8px; font-size: 1px; padding: 0px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow1_w.png); background-position: bottom; background-repeat: repeat-x; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow1_w.png', sizingMethod='scale'); _background: none;}
#icp_content_shop .dr_scs_delivery_inner_table .dr_scs_delivery_inner_table_top_right {width: 8px; height: 8px; line-height: 8px; font-size: 1px; padding: 0px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow2_w.png); background-position: bottom left; background-repeat: no-repeat; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow2_w.png', sizingMethod='scale'); _background: none;}
#icp_content_shop .dr_scs_delivery_inner_table .dr_scs_delivery_inner_table_left {width: 8px; font-size: 1px; padding: 0px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow7_w.png); background-position: right; background-repeat: repeat-y; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow7_w.png', sizingMethod='scale'); _background: none;}
#icp_content_shop .dr_scs_delivery_inner_table .dr_scs_delivery_inner_table_right {width: 8px; font-size: 1px; padding: 0px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow3_w.png); background-position: left; background-repeat: repeat-y; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow3_w.png', sizingMethod='scale'); _background: none;}

#icp_content_shop .dr_scs_delivery_inner_table .dr_scs_delivery_inner_table_bottom_left {width: 8px; height: 8px; line-height: 8px; font-size: 1px; padding: 0px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow6_w.png); background-position: top right; background-repeat: no-repeat; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow6_w.png', sizingMethod='scale'); _background: none;}
#icp_content_shop .dr_scs_delivery_inner_table .dr_scs_delivery_inner_table_bottom_middle {height: 8px; line-height: 8px; font-size: 1px; padding: 0px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow5_w.png); background-position: top; background-repeat: repeat-x; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow5_w.png', sizingMethod='scale'); _background: none;}
#icp_content_shop .dr_scs_delivery_inner_table .dr_scs_delivery_inner_table_bottom_right {width: 8px; height: 8px; line-height: 8px; font-size: 1px; padding: 0px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow4_w.png); background-position: top left; background-repeat: no-repeat; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow4_w.png', sizingMethod='scale'); _background: none;}
/* Product variation overlay arrows */
#icp_content_shop .dr_scs_delivery_arrow_top_wrapper {position: absolute; z-index: 9; top: 1px; right: 109px; _right: 107px; height: 8px; width: 13px;}
#icp_content_shop .dr_scs_delivery_arrow_bottom_wrapper {position: absolute; z-index: 9; bottom: 1px; right: 109px; _right: 107px; height: 8px; width: 13px;}
#icp_content_shop .dr_scs_cart_arrow_point {background-color: #838383; height: 1px; line-height: 1px; font-size: 1px; width: 1px; margin-left: 8px;}
#icp_content_shop .dr_scs_cart_arrow_line_border1 {background-color: #f2f2f2; border-left: 1px solid #838383; border-right: 1px solid #838383; height: 1px; line-height: 1px; font-size: 1px; margin-left: 7px; width: 1px;}
#icp_content_shop .dr_scs_cart_arrow_line_border2 {background-color: #f2f2f2; border-left: 1px solid #838383; border-right: 1px solid #838383; height: 1px; line-height: 1px; font-size: 1px; margin-left: 6px; width: 3px;}
#icp_content_shop .dr_scs_cart_arrow_line_border3 {background-color: #f2f2f2; border-left: 1px solid #838383; border-right: 1px solid #838383; height: 1px; line-height: 1px; font-size: 1px; margin-left: 5px; width: 5px;}
#icp_content_shop .dr_scs_cart_arrow_line_border4 {background-color: #f2f2f2; border-left: 1px solid #838383; border-right: 1px solid #838383; height: 1px; line-height: 1px; font-size: 1px; margin-left: 4px; width: 7px;}
#icp_content_shop .dr_scs_cart_arrow_line_border5 {background-color: #f2f2f2; border-left: 1px solid #838383; border-right: 1px solid #838383; height: 1px; line-height: 1px; font-size: 1px; margin-left: 3px; width: 9px;}
#icp_content_shop .dr_scs_cart_arrow_line_border6 {background-color: #f2f2f2; border-left: 1px solid #838383; border-right: 1px solid #838383; height: 1px; line-height: 1px; font-size: 1px; margin-left: 2px; width: 11px;}
#icp_content_shop .dr_scs_cart_arrow_line {background-color: #f2f2f2; height: 1px; line-height: 1px; font-size: 1px; margin-left: 2px; width: 13px;}
/* Recommended products */
#icp_content_shop #dr_scs_recommended_products_wrapper {border-top: 1px solid #cccccc; z-index: 1; height: auto;}
#icp_content_shop #dr_scs_recommended_bar {background-color: #f2f2f2; font-weight: bold; padding: 11px 8px 10px 10px; z-index: 1;}
#icp_content_shop #dr_scs_recommended_products {border-top: 1px solid #cccccc; padding: 0 8px 10px 10px;}
#icp_content_shop #dr_scs_recommended_products .dr_scs_rec_prod_wrapper {padding-top: 10px; line-height: 12px; height: 100%;}
#icp_content_shop #dr_scs_recommended_products .dr_scs_rec_prod_wrapper .dr_scs_rec_prod_name {font-weight: bold;}
#icp_content_shop #dr_scs_recommended_products .dr_scs_rec_prod_wrapper .dr_scs_rec_prod_name_link {width: auto;}
/* Empty cart hero spot */
#icp_content_shop #dr_scs_hero {padding: 10px; line-height: 13px;}
#icp_content_shop #dr_scs_hero img {border: 1px solid #cccccc; margin-bottom: 5px;}
#icp_content_shop #dr_scs_hero #dr_scs_hero_prod_name {font-weight: bold;}
/* Progress bar shadow area */

#icp_content_shop #dr_scs_progress_inner_table .dr_scs_progress_inner_table_top_left {width: 8px; height: 8px; line-height: 8px; font-size: 8px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow8_b.png); background-position: bottom right; background-repeat: no-repeat; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow8_b.png', sizingMethod='scale'); _background: none;}
#icp_content_shop #dr_scs_progress_inner_table .dr_scs_progress_inner_table_top_middle {height: 8px; line-height: 8px; font-size: 8px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow1_b.png); background-position: bottom; background-repeat: repeat-x; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow1_b.png', sizingMethod='scale'); _background: none;}
#icp_content_shop #dr_scs_progress_inner_table .dr_scs_progress_inner_table_top_right {width: 8px; height: 8px; line-height: 8px; font-size: 8px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow2_b.png); background-position: bottom left; background-repeat: no-repeat; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow2_b.png', sizingMethod='scale'); _background: none;}
#icp_content_shop #dr_scs_progress_inner_table .dr_scs_progress_inner_table_left {width: 8px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow7_b.png); background-position: right; background-repeat: repeat-y; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow7_b.png', sizingMethod='scale'); _background: none;}
#icp_content_shop #dr_scs_progress_inner_table .dr_scs_progress_inner_table_middle {background-image: url(/DRHM/Storefront/Library/images/scs_processing_back.gif); background-position: bottom; background-repeat: repeat-x; background-color: #ffffff; border: 1px solid #ffffff; padding: 5px; text-align: center; margin: 0 auto; font-size: 10px; line-height: 12px;}
#icp_content_shop #dr_scs_progress_inner_table .dr_scs_progress_inner_table_middle .dr_scs_progress_bar {width: 120px; background-image: url(/DRHM/Storefront/Library/images/scs_progress_bar_shadow.png); background-repeat: no-repeat; margin: 0 auto; text-align: center; padding: 2px 0px 2px 0px; margin-bottom: 5px; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_progress_bar_shadow.png', sizingMethod='image'); _background: none;}
#icp_content_shop #dr_scs_progress_inner_table .dr_scs_progress_inner_table_middle .dr_scs_progress_bar img {border: 1px solid #919191;}
#icp_content_shop #dr_scs_progress_inner_table .dr_scs_progress_inner_table_right {width: 8px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow3_b.png); background-position: left; background-repeat: repeat-y; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow3_b.png', sizingMethod='scale'); _background: none;}
#icp_content_shop #dr_scs_progress_inner_table .dr_scs_progress_inner_table_bottom_left {width: 8px; height: 8px; line-height: 8px; font-size: 8px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow6_b.png); background-position: top right; background-repeat: no-repeat; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow6_b.png', sizingMethod='scale'); _background: none;}
#icp_content_shop #dr_scs_progress_inner_table .dr_scs_progress_inner_table_bottom_middle {height: 8px; line-height: 8px; font-size: 8px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow5_b.png); background-position: top; background-repeat: repeat-x; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow5_b.png', sizingMethod='scale'); _background: none;}
#icp_content_shop #dr_scs_progress_inner_table .dr_scs_progress_inner_table_bottom_right {width: 8px; height: 8px; line-height: 8px; font-size: 8px; background-image: url(/DRHM/Storefront/Library/images/scs_shadow4_b.png); background-position: top left; background-repeat: no-repeat; padding: 0px; border: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/DRHM/Storefront/Library/images/scs_shadow4_b.png', sizingMethod='scale'); _background: none;}
/* END AJAX_MINI_CART CSS */

/* START CART DETAILS OVERLAY CSS */
#icp_content_shop .dr_cart_details_overlay_wrapper {
  width: 375px;
  position: absolute;
  z-index: 1;
  display: none;
  visibility: hidden;
}
#icp_content_shop .dr_cart_details_overlay_arrow {
  position: absolute;
  z-index: 2;
  top: 14px;
  left: 0px;
}
#icp_content_shop .dr_cart_details_overlay_clear {
  clear: both;
  height: 0px;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_top_left {
  width: 8px;
  height: 8px;
  font-size: 1px;
  background-image: url(../images/scs_shadow8_w.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 0px;
  border: none;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow8_w.png', sizingMethod='scale');
  _background: none;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_top_middle {
  height: 8px;
  font-size: 1px;
  background-image: url(../images/scs_shadow1_w.png);
  background-position: bottom;
  background-repeat: repeat-x;
  padding: 0px;
  border: none;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow1_w.png', sizingMethod='scale');
  _background: none;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_top_right {
  width: 8px;
  height: 8px;
  font-size: 1px;
  background-image: url(../images/scs_shadow2_w.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: 0px;
  border: none;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow2_w.png', sizingMethod='scale');
  _background: none;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_left {
  width: 8px;
  background-image: url(../images/scs_shadow7_w.png);
  background-position: right;
  background-repeat: repeat-y;
  padding: 0px;
  border: none;
  font-size: 1px;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow7_w.png', sizingMethod='scale');
  _background: none;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_middle {
  width: 357px;
  background-color:#ffffff;
  border: 1px solid #828282;
  padding: 0px;
}
.dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_middle .dr_cart_details_overlay_title {
  background-color:#f7f3f7;
  border-bottom: 1px solid #828282;
  padding: 10px;
  text-align:left;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_middle .dr_cart_details_overlay_boxshot {
  float: left;
  margin: 10px 0px 10px 10px;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_middle .dr_cart_details_overlay_description {
  float: left;
  width: 215px;
  margin: 10px;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_middle .dr_cart_details_overlay_variation_select {
  margin: 10px;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_middle .dr_cart_details_overlay_variation_wrapper {
  border: 1px solid #c0c0c0;

  margin: 10px;

  width: 334px;
}

#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_middle .dr_cart_details_overlay_variation_wrapper .dr_cart_details_overlay_variation {

  float: left;

  width: 167px;

}

#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_middle .dr_cart_details_overlay_variation_wrapper .dr_cart_details_overlay_variation .dr_cart_details_overlay_variation_title {
  border-bottom: 1px solid #c0c0c0;
  background-color:#efefef;
  font-weight: bold;
  padding: 3px;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_middle .dr_cart_details_overlay_variation_wrapper .dr_cart_details_overlay_variation .dr_cart_details_overlay_variation_content {
  padding: 3px;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_middle .dr_cart_details_overlay_buttons {
  margin: 10px;
  text-align: right;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_right {
  width: 8px;
  background-image: url(../images/scs_shadow3_w.png);
  background-position: left;
  background-repeat: repeat-y;
  padding: 0px;
  border: none;
  font-size: 1px;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow3_w.png', sizingMethod='scale');
  _background: none;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_bottom_left {
  width: 8px;
  height: 8px;
  font-size: 1px;
  background-image: url(../images/scs_shadow6_w.png);
  background-position: top right;
  background-repeat: no-repeat;
  padding: 0px;
  border: none;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow6_w.png', sizingMethod='scale');
  _background: none;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_bottom_middle {
  height: 8px;
  font-size: 1px;
  background-image: url(../images/scs_shadow5_w.png);
  background-position: top;
  background-repeat: repeat-x;
  padding: 0px;
  border: none;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow5_w.png', sizingMethod='scale');
  _background: none;
}
#icp_content_shop .dr_cart_details_overlay_wrapper .dr_cart_details_overlay_table .dr_cart_details_overlay_table_bottom_right {
  width: 8px;
  height: 8px;
  font-size: 1px;
  background-image: url(../images/scs_shadow4_w.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding: 0px;
  border: none;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow4_w.png', sizingMethod='scale');
  _background: none;
}
/* END CART DETAILS OVERLAY CSS

/* START CART ONLOAD OVERLAY CSS */
#icp_content_shop .icp_container #dr_general_modal_overlay {
   background-color: #000; 
   opacity: 0.65; 
   height: 100%; 
   width: 100%; 
   position: absolute; 
   z-index: 1; 
   left: 0; 
   top: 0; 
   filter:alpha(opacity=65);
}
#icp_content_shop #dr_onload_modal_wrapper {
   margin-left: -305px; 
   width: 613px; 
   position: absolute; 
   z-index: 2; 
   top: 50%; 
   left: 50%; 
   display: none; 
   visibility: hidden;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_top_left {
   width: 8px; 
   height: 8px; 
   font-size: 1px; 
   padding: 0px; 
   line-height: 8px; 
   background-image: url(../images/scs_shadow8_b.png); 
   background-position: bottom right; 
   background-repeat: no-repeat; 
   padding: 0px; 
   border: none; 
   _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow8_b.png', sizingMethod='scale'); 
   _background: none;

}

#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_top_middle {

   height: 8px; 

   font-size: 1px; 

   padding: 0px; 

   line-height: 8px; 
   background-image: url(../images/scs_shadow1_b.png); 
   background-position: bottom; 
   background-repeat: repeat-x; 
   padding: 0px; 
   border: none; 
   _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow1_b.png', sizingMethod='scale'); 
   _background: none;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_top_right {
   width: 8px; 
   font-size: 1px; 
   padding: 0px; 
   line-height: 8px; 
   height: 8px; 
   background-image: url(../images/scs_shadow2_b.png); 
   background-position: bottom left; 
   background-repeat: no-repeat; 
   padding: 0px; 
   border: none; 
   _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow2_b.png', sizingMethod='scale'); 
   _background: none;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_left {
   width: 8px; 
   font-size: 1px; 
   padding: 0px; 
   background-image: url(../images/scs_shadow7_b.png); 
   background-position: right; 
   background-repeat: repeat-y; 
   border: none; 
   _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow7_b.png', sizingMethod='scale'); 
   _background: none;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_middle {
   width: 575px; 
   background-image: url(<dr:url template="true" rscName="scs_processing_back.gif"/>); 
   background-position: bottom; 
   background-repeat: repeat-x; 
   background-color: #ffffff; 
   border: 1px solid #ffffff; 
   padding: 10px; 
   text-align: center; 
   font-size: 10px; 
   line-height: 12px;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_middle .dr_onload_modal_pop_headline {
   text-align: left; 
   font-size: 16px; 
   font-weight: bold; 
   margin-bottom: 10px;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_middle .dr_onload_modal_pop_subhead {
   text-align: left; 
   font-size: 14px; 
   font-style: italic; 
   margin-bottom: 10px;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_middle .dr_onload_modal_pop_prod_wrapper {
   background-color: #ebebeb; 
   border: 1px solid #c2c2c2; 
   padding: 10px; 
   margin-bottom: 10px; 
   height: 100%;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_middle .dr_onload_modal_pop_prod_boxshot {
   border: 1px solid #c2c2c2;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_middle .dr_onload_modal_pop_prod_boxshot_wrapper {
   float: left; 
   background-color: #ffffff; 
   width: 222px;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_middle .dr_onload_modal_pop_prod_description {
   float: left; 
   font-size: 12px; 
   margin-left: 10px; 
   text-align: left; 
   width: 318px;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_middle .dr_onload_modal_pop_prod_clear {
   clear: both; 
   height: 0px;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_middle .dr_onload_modal_pop_button_wrapper {
   text-align: right;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_middle .dr_onload_modal_pop_button_wrapper #dr_overlay_declineOffer {
   float: left;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_right {
   width: 8px; 
   font-size: 1px; 
   padding: 0px; 
   background-image: url(../images/scs_shadow3_b.png); 
   background-position: left; 
   background-repeat: repeat-y; 

   border: none; 

   _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow3_b.png', sizingMethod='scale'); 

   _background: none;
}

#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_bottom_left {

   width: 8px; 
   height: 8px; 
   font-size: 1px; 
   padding: 0px line-height: 8px; 
   background-image: url(../images/scs_shadow6_b.png); 
   background-position: top right; 
   background-repeat: no-repeat; 
   padding: 0px; 
   border: none; 
   _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow6_b.png', sizingMethod='scale'); 
   _background: none;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_bottom_middle {
   height: 8px; 
   font-size: 1px; 
   padding: 0px; 
   line-height: 8px; 
   background-image: url(../images/scs_shadow5_b.png); 
   background-position: top; 
   background-repeat: repeat-x; 
   padding: 0px; 
   border: none; 
   _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow5_b.png', sizingMethod='scale'); 
   _background: none;
}
#icp_content_shop #dr_onload_modal_wrapper .dr_onload_modal_table .dr_onload_modal_table_bottom_right {
   width: 8px; 
   height: 8px; 
   font-size: 1px; 
   padding: 0px; 
   line-height: 8px; 
   background-image: url(../images/scs_shadow4_b.png); 
   background-position: top left; 
   background-repeat: no-repeat; 
   padding: 0px; 
   border: none; 
   _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/scs_shadow4_b.png', sizingMethod='scale'); 
   _background: none;
}
/* END CART ONLOAD OVERLAY CSS */

/* BEGIN CHECKOUT & SHIPPING CSS */
#icp_content_shop #dr_CheckoutPayment fieldset#dr_payment .dr_label,
#icp_content_shop #dr_CheckoutPaymentTBYB fieldset#dr_payment .dr_label {
  margin-bottom:10px;
}
#icp_content_shop #dr_CheckoutPayment fieldset#dr_payment .dr_label,
#icp_content_shop #dr_CheckoutPayment fieldset#dr_payment p,
#icp_content_shop #dr_CheckoutPaymentTBYB fieldset#dr_payment .dr_label,
#icp_content_shop #dr_CheckoutPaymentTBYB fieldset#dr_payment p {
  margin-left:12px;
}

#icp_content_shop .dr_Content fieldset .dr_label_paymentMethodName {
  margin:0px;
  padding:0px;
}
#icp_content_shop .dr_Content fieldset .dr_label_paymentMethodName_noRadio {
  margin:0px 0px 0px 12px;
  padding:0px;
}
#icp_content_shop #dr_CheckoutPayment fieldset#dr_optIn p {
  width:92%;
  float:right;
}
#icp_content_shop #dr_CheckoutPayment ul#dr_formNavigator,
#icp_content_shop #dr_CheckoutPaymentTBYB ul#dr_formNavigator  {
  display:none;
}
#icp_content_shop #dr_CheckoutPayment .dr_loginButton {
  padding:0px 0px 0px 130px;
  text-align:left;
  font-size:10px;
  margin:3px 10px;
}
#icp_content_shop #dr_CheckoutPayment a.dr_morePaymentInfo,
#icp_content_shop #dr_CheckoutPaymentTBYB a.dr_morePaymentInfo {
  color:#666;
  font-size:11px;
  margin:0px;
  padding:0px;
  text-decoration:none;
}
#icp_content_shop #dr_CheckoutPayment #dr_saveMyCc label.dr_label {
  width:94%;
}
#icp_content_shop #dr_CheckoutPayment #dr_paypalImage,
#icp_content_shop #dr_CheckoutPaymentTBYB #dr_paypalImage {
  padding:0px 5px 0px 0px;
}
#icp_content_shop #dr_CheckoutPayment #dr_clickandbuyImage,
#icp_content_shop #dr_CheckoutPaymentTBYB #dr_clickandbuyImage,
#icp_content_shop #dr_CheckoutPayment #dr_ipsImage,
#icp_content_shop #dr_CheckoutPaymentTBYB #dr_ipsImage,
#icp_content_shop #dr_CheckoutPayment #dr_paypalExpressImage,
#icp_content_shop #dr_CheckoutPaymentTBYB #dr_paypalExpressImage,
#icp_content_shop #dr_CheckoutPayment #dr_bpayImage,
#icp_content_shop #dr_CheckoutPaymentTBYB #dr_bpayImage {
  padding:0px 5px 0px 0px;
  float:left;
}
#icp_content_shop #dr_CheckoutPayment #dr_creditCardSection,
#icp_content_shop #dr_CheckoutPayment #dr_DirectDebitSection,
#icp_content_shop #dr_CheckoutPayment #dr_DelayedDirectDebitSection,
#icp_content_shop #dr_CheckoutPayment #dr_DSKKonbiniSection,
#icp_content_shop #dr_CheckoutPayment #dr_ACHSection {
  padding:0px 0px 0px 20px;
}
#icp_content_shop #dr_CheckoutPayment .dr_formLine.dr_saveMyAccountInfo {
 padding:10px 0;
 overflow:hidden;
}
#icp_content_shop #dr_CheckoutPayment .dr_formLine.dr_saveMyAccountInfo input {
 margin-left:0;
}
#icp_content_shop #dr_CheckoutPayment .dr_formLine.dr_saveMyAccountInfo label{
 width:auto;
}
/* END CHECK OUT CSS */



/* BEGIN CHECKOUTPAYMENT JS VALIDATION CSS */

#icp_content_shop select.dr_inputErrorBlur, select.dr_inputErrorSubmit {
   border: 1px solid #f00;

   background-color: #ffe8e9;

   padding: 1px;

   _padding: 1px 3px 1px 1px;

}

#icp_content_shop select.dr_inputErrorFocus {

   border: 2px solid #b4342b;

   background-color: #fff;

   padding: 0px;

   _padding: 0px 2px 0px 0px;
}
#icp_content_shop input.dr_inputErrorBlur {
   border: 1px solid #f00;
   background-color: #ffe8e9;
   padding: 1px 1px 3px 1px;
   _padding: 1px 3px 3px 1px;
}
#icp_content_shop input.dr_inputErrorFocus {
   border: 2px solid #b4342b;
   background-color: #fff;
   padding: 0px 0px 2px 0px;
   _padding: 0px 2px 2px 0px;
}
#icp_content_shop input.dr_inputErrorSubmit {
   border: 1px solid #f00;
   background-color: #ffe8e9;
   padding: 1px 1px 3px 1px;
   _padding: 1px 3px 3px 1px;
}
/* END CP JS VALIDATION CSS */

/* BEGIN TBYB CHECKOUT CSS */
#icp_content_shop #dr_CheckoutPaymentTBYB .dr_loginButton {
  padding:0px 0px 0px 160px;
  text-align:left;
  font-size:10px;
  margin:3px 10px;
}
#icp_content_shop #dr_CheckoutPaymentTBYB .dr_loginButton a {
  display:block;
}
#icp_content_shop #dr_CheckoutPaymentTBYB fieldset select {
  width:105px;
}
#icp_content_shop #dr_CheckoutPaymentTBYB #dr_billingContainer fieldset .dr_formLine input,
#icp_content_shop #dr_CheckoutPaymentTBYB #dr_newAccountContainer fieldset .dr_formLine input,
#icp_content_shop #dr_CheckoutPaymentTBYB #dr_loginContainer fieldset .dr_formLine input {
  width:100px;
}
#icp_content_shop #dr_CheckoutPaymentTBYB #dr_loginContainer {
  float:left;
  width:48%;
} 
#icp_content_shop #dr_CheckoutPaymentTBYB #dr_newAccountContainer {
  float:right;
  width:48%;
}
#icp_content_shop #dr_CheckoutPaymentTBYB #dr_billingContainer {
  clear:both;
}
#icp_content_shop #dr_CheckoutPaymentTBYB #dr_billingContainer .dr_formLine {
  clear:none;
  display:inline;
  float:left;
  margin:0px;
  padding:3px;
  width:48%;
}
/* END TBYB CHECKOUT CSS */

/* BEGIN PRODUCT RESTRICTION AND LIMITED BY LOCALE PAGES CSS */
#icp_content_shop #dr_ProductRestriction #dr_productRestrictionUpdateAddress, 
#icp_content_shop #dr_ProductRestriction #dr_productRestrictionDeleteProducts, 
#icp_content_shop #dr_ProductLimitedToSupportingLocales #dr_productLBLUpdateAddress, 
#icp_content_shop #dr_ProductLimitedToSupportingLocales #dr_productLBLDeleteProducts {
  width:48%;
  margin:10px 0px 10px 0px;
  float:left;
}
#icp_content_shop #dr_ProductRestriction #dr_siteButtons{
  text-align: center;
}
/* END PRODUCT RESTRICTION PAGE CSS */


/*

#############################################
# FIXES                                     #

# These are minor fixes to get things  to   #

# work cross browser. If you need to add    #
# anything for browser bugs, here is the    #

# place. Of course a good resource for      #
# browser bugs is online at:                #
# http://php.digitalriver.com/brandon/tips/ #
#############################################

*/
#icp_content_shop #dr_testOptions table {
  width:350px;
}
#icp_content_shop #dr_testOptions table td{
  border:0px;
}
* html #icp_content_shop .dr_Content {
height: 1%;
}
*:first-child+html #icp_content_shop .dr_Content{ 
height: 1%; 
}
/*
#############################################
# Invisible Text in IE? Do the following:   #
# * html #elementID { height:0.01%; }       #
#############################################
*/
* html #icp_content_shop #dr_ThankYou {
  height:0.01%;
}
