#icp_content_shop { margin: 0; color: #252F47; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; line-height: 17px; text-align: center; background-color: #F0F0F2; }
#icp_content_shop img { border: 0; }
#icp_content_shop td { line-height: 17px; background-color: #fff; line-height: 17px; margin: 0px; padding: 0px; }
#icp_content_shop form { margin: 0; padding: 0; }
#icp_content_shop p { margin: 2ex 0; }
#icp_content_shop #main { width: 100%; }

#icp_content_shop #p-body { float: left; background: #f0f0f2 url(../images/header_bg_tile.gif) repeat-x left top; width: 100%; }
#icp_content_shop #p-body-wrapper { position: relative; width: 986px; background: url(../images/body_outerwrapper_bg_tile.gif) repeat-y left top; margin: auto; margin-top: 22px; text-align: left; }
#icp_content_shop #p-body-innerwrapper { background: url(../images/body_innerwrapper_bg2.gif) no-repeat left top; width: 960px; padding: 11px 13px 0px 13px; }
#icp_content_shop #p-body-bottomwrapper { background: #EDEEF0 url(../images/body_bottomwrapper_bg.gif) no-repeat left top; height: 15px; width: 986px; margin: auto; }

#icp_content_shop #breadcrumbs { padding-bottom: 10px; }
#icp_content_shop #breadcrumbs a { font-weight: normal; color: #0B5ED7; text-decoration: none; }
#icp_content_shop #breadcrumbs a:hover { text-decoration: underline; }
#icp_content_shop #dr_ProductDetails #dr_priceBox { background:#e1f1ff url(web/drhm/images/pd_page_pricearea_bg.gif) repeat-x top left; width: 180px; float: right; padding: 10px; height: 430px; }
#icp_content_shop #dr_ProductDetails #dr_priceBox .dr_quantity { display: none; }
#icp_content_shop #dr_ProductDetails #dr_priceBox .stockStatus, #dr_bottomBtns .productPrice .stockStatus { font-size: 8pt; font-weight: bold; }
#icp_content_shop #dr_ProductDetails #dr_priceBox .shippingDate, #dr_bottomBtns .productPrice .shippingDate, #dr_bottomBtns .productPrice span.incVat { font-size: 8pt; font-weight: normal; }
#icp_content_shop #dr_ProductDetails #dr_priceBox .shippingDate .stock, #dr_bottomBtns .productPrice .shippingDate .stock { font-weight: bold; }
#icp_content_shop #dr_ProductDetails #dr_productSummary #dr_thumbnailImage .dr_pdThumbnails { margin: auto; width: 350px; padding: 10px;}
#icp_content_shop #dr_ProductDetails #dr_productSummary #dr_thumbnailImage { text-align: center; }
#icp_content_shop #dr_purchaseDetails #dr_productName h1 { margin: 20px 0 10px 0; font-family: GillSans, GillSans Light, Gill Sans MT, Verdana, Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px; font-weight: normal; }
#icp_content_shop #dr_purchaseDetails #dr_longDescription { font-size: 11px; }
#icp_content_shop #dr_purchaseDetails #dr_longDescription .similar { font-weight: bold; font-size: 110%; }
#icp_content_shop #dr_purchaseDetails #dr_longDescription .similar a { text-decoration: none; color: #f7941d; }
#icp_content_shop #dr_purchaseDetails #dr_longDescription .similar a:hover { text-decoration: underline; }
#icp_content_shop #dr_purchaseDetails #dr_longDescription .wowText { font-size: 130%; }
#icp_content_shop #dr_purchaseDetails #dr_longDescription .subWowText { font-size: 100%; }
#icp_content_shop #dr_purchaseDetails #dr_longDescription a { color: #f7941d; font-weight: bold; size: 110%; text-decoration: none; }
#icp_content_shop #dr_purchaseDetails #dr_longDescription a:hover { text-decoration: underline; }
#icp_content_shop #dr_purchaseDetails #salesIndicator { clear: both; font-weight: bold; font-size: 130%; padding: 5px 0px 10px 0px; }
#icp_content_shop #dr_purchaseDetails #salesIndicator .si_Green { color: #70b319; }
#icp_content_shop #dr_purchaseDetails #salesIndicator .si_Red { color: #ce2842; }
#icp_content_shop #dr_purchaseDetails #salesIndicator .si_Orange { color: #f7941d; }
/* tabbed list css on PD page */
#icp_content_shop #dr_tabs { margin-top: 20px; width: 730px; clear: left; }
#icp_content_shop #dr_tabs .tabs { width: 730px; float: left; }
#icp_content_shop #dr_productTabs { padding: 0; margin: 0; }
#icp_content_shop #dr_productTabs dt {
	position: relative;
	margin: 0 5px 0 0;
	padding: 2px 5px 10px 5px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #dcdbdb;
}
#icp_content_shop #dr_productTabs dt.active_tab {
	background-color: #ffffff;
	z-index: 101;
	font-weight: bold;
}
#icp_content_shop #dr_productTabs dt.inactive_tab {
	background-color: #ffffff;
	z-index: 99;
	font-weight: normal;
	cursor: pointer;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #ffffff;
}
#icp_content_shop #dr_productTabs dd {
	position: relative;
	z-index: 100;
	background-color: #ffffff;
	border: 1px solid #dcdbdb;
	margin: -1px auto auto 0;
	padding: 5px 20px;
}
#icp_content_shop #dr_productTabs dd#dr_tab3Content {
	padding: 0px;
}
#icp_content_shop #dr_productTabs #dr_tab1Content .imageright { float: right; margin: 12px 0 0 12px; }
#icp_content_shop #dr_productTabs #dr_tab1Content .imageleft { clear: left; float: left; margin: 0 12px 12px 0; }
#icp_content_shop #dr_productTabs #dr_tab1Content h3 { font-size: 120%; color: #992c96; margin: 0 0 6px 0; }
#icp_content_shop #dr_productTabs #dr_tab1Content p { font-size: 100%; margin: 0; }
/* Accessories tab */
#icp_content_shop #dr_productTabs #dr_tab3Content .displayName { font-weight: bold; margin-top: 12px; border: 0; clear: both; color: #fff; background-color: #9ccd2e; width: 719px; padding: 5px; }
#icp_content_shop #dr_productTabs #dr_tab3Content .groupName { font-size: 90%; padding: 5px; }
#icp_content_shop #dr_productTabs #dr_tab3Content #container { width: 726px; border-bottom: 1px solid #eaeaea; display: inline-block; min-height: 120px; }
#icp_content_shop #dr_productTabs #dr_tab2Content a { text-decoration: none; }
#icp_content_shop #dr_productTabs #dr_tab2Content a:hover { text-decoration: underline; }
#icp_content_shop #dr_productTabs #dr_tab2Content table th { width: 50%; }
#icp_content_shop #dr_productTabs #dr_tab2Content table td { text-align: left; }
#icp_content_shop #dr_productTabs #dr_tab2Content table td.attribute { width: 50%; }
#icp_content_shop #dr_productTabs #dr_tab2Content table td.value { width: 50%; }

/* hide from IE/mac \*/
* html #icp_content_shop #dr_productTabs #dr_tab3Content #container { height: 120px; he\ight: 120px; }
/* end hide */
#icp_content_shop #dr_productTabs #dr_tab3Content #container .productImg { width: 105px; float: left; margin-left: 20px; }
#icp_content_shop #dr_productTabs #dr_tab3Content #container .productName { width: 500px; margin-left: 140px; }
#icp_content_shop #dr_productTabs #dr_tab3Content #container .productName span { font-weight: bold; }
#icp_content_shop #dr_productTabs #dr_tab3Content #container .productPrice { float: right; margin: -40px 20px 0px 0px; width: 110px; text-align: right; font-weight: bold; }
#icp_content_shop #dr_productTabs #dr_tab3Content #container .productName .subWow { color: #000; }
#icp_content_shop span.partNumber { font-weight: bold; color: #444; }
#icp_content_shop #dr_productTabs #dr_tab3Content #container .productName a { text-decoration: none; color: #0b5ed7; }
#icp_content_shop #dr_productTabs #dr_tab3Content #container .productName a:hover { text-decoration: underline; }
#icp_content_shop #dr_productTabs #dr_tab3Content #container .clearBoth { width: 100%; clear: both; }
#icp_content_shop #dr_productTabs .divider { clear: both; margin-bottom: 10px; padding: 10px; border-bottom: 1px solid #999; }
#icp_content_shop #dr_productTabs .divider hr { display: none; margin: 0; padding: 0; color: #666; }
#icp_content_shop #dr_productTabs .features, #dr_productTabs .included { float: left; width: 280px; padding: 0 10px 10px 20px; color: #666; }
#icp_content_shop #dr_productTabs .features h4, #dr_productTabs .included h4 { margin: 0 0 5px 0; padding: 0; font-size: 110%; color: #666; }
#icp_content_shop #dr_productTabs .features ul, #dr_productTabs .included ul { margin: 0; padding: 0; }
#icp_content_shop #dr_productTabs .features ul li { margin-left: 15px; }
#icp_content_shop #dr_productTabs .included ul li { list-style: none; }
#icp_content_shop .dr_rightBanner { display: none; width: 180px; float: right; margin-top: 49px; padding: 10px; background-color: #fff; border: 1px solid #dcdbdb; }
#icp_content_shop .dr_rightBanner ul li { list-style: none; margin: 0px 0px 5px -30px; }
#icp_content_shop .dr_rightBanner ul li img { padding: 5px 0px 5px 0px; }
#icp_content_shop .dr_rightBanner ul li a { color: #0056f4; text-decoration: none; font-weight: bold; }
#icp_content_shop .dr_rightBanner ul li a:hover { text-decoration: underline; }
#icp_content_shop .dr_rightBanner #dr_recentlyViewedProductList span.heading { font-size: 120%; font-weight: bold; display:block; }
#icp_content_shop .dr_rightBanner #dr_recentlyViewedProductList .noRecentProducts { color: #dcdbdb; }
#icp_content_shop #dr_bottomBtns, #dr_candyRackBottom { border: 1px solid #dcdbdb; padding: 15px 10px 15px 10px; margin-top: 10px; width: 708px; }
#icp_content_shop #dr_bottomBtns { background-color: #e4eff9; /*height: 75px;*/ clear: left; }
#icp_content_shop #dr_bottomBtns #ul-table {
	width:708px;
	text-align:center;
	margin: 0px auto;
	padding:0;
	list-style-type:none;
	clear:left;
}
#icp_content_shop #dr_bottomBtns #ul-table li {
	/*width: 33%;*/
	float:left;
	text-align: left;
}
#icp_content_shop #dr_bottomBtns #ul-table .productTitle { font-size: 130%; font-weight: bold; }
#icp_content_shop #dr_bottomBtns #ul-table .productPrice .dr_actualPrice { font-size: 10pt; font-weight: bold;}
#icp_content_shop .dr_Content .dr_price span.dr_actualPrice { font-size: 10pt; font-weight: bold;}
#icp_content_shop #dr_bottomBtns #ul-table .productPrice span.incVat { color: #626262; }
#icp_content_shop #dr_bottomBtns #ul-table .productTitle { width: 280px; text-align: left; }
#icp_content_shop #dr_bottomBtns #ul-table .productPrice { width: 230px; text-align: left; }
#icp_content_shop #dr_bottomBtns #ul-table .dr_buttons { width: 190px; text-align: right; }
#icp_content_shop #dr_candyRackBottom h4 { font-size: 110%; }
#icp_content_shop .dr_scRelatedProductsIteration { float: left; width: 150px; padding: 10px; }
#icp_content_shop .dr_scRelatedProductsIteration a { text-decoration: none; }
#icp_content_shop .dr_scRelatedProductsIteration a:hover { text-decoration: underline; }
#icp_content_shop .dr_scRelatedText p, li.dr_RVPItem p { margin: 0; color: #666; font-size: 90%; }
/* gallery viewer */
#icp_content_shop #galleryViewer { top: 35px; left: 35px; width: 920px; height: 535px; display: none; position: absolute; z-index: 500; }
#icp_content_shop #dr_purchaseDetails .sku { font-size: 12px; font-weight: bold; color: #626262; }
#icp_content_shop #dr_purchaseDetails .refurbished { font-size: 13px; font-weight: bold; color: #f7941d; }
/* Overlay */
#icp_content_shop #refurb_overlay { display: none; width: 800px; border: 1px solid #626262; background-color: #FFFFFF; margin: 10px;}
/* END PD page default */
/* main overrides */
#icp_content_shop #dr_homeProductListIteration { display: none; } /* temporary */
#icp_content_shop #dr_ProductSearchResults.dr_Content h1 { margin-top: 0; }
#icp_content_shop #dr_ProductSearchResults.dr_Content .buynow { display: none; }
#icp_content_shop a.dr_productName { text-decoration: none; font-size: 100%; font-weight: bold; color: #036; }
#icp_content_shop a:hover.dr_productName { text-decoration: underline; color: #036; }
#icp_content_shop a:visited.dr_productName { color: #036; }
#icp_content_shop #breadcrumbs h1 { display: inline; visibility: visible; margin: 0; padding: 0; font-size: 100%; color: #000; }
#icp_content_shop #dr_productName h2 { margin-bottom: 0; font-size: 100%; color: #444; }
