/*
	categorization_overview.css
*/

@import url(generic.css);

#icp_categorizaton_view p {
	margin: 0px;
	padding: 2px 0px 4px;
}

div.cattreenode_container {
	margin: 3px 0px;
}

p.cattreenode {
	border-width: 0px;
	border-style: solid;
}

p.catalog {
	background-color: #f7f7f9;
}

p.group {
	background-color: #ebebf8;
}

p.category {
	background-color: #e2e2f9;
}

p.subcategory {
	background-color: #d8d8f8;
}

.toggle {
	font-size: 10px;
	font-family: Arial;
	color: #000;
	margin:0 3px 0 0;
	padding:0 2px 1px;
	cursor: pointer;
}

.toggleAll {
	font-size: 9px;
	margin: 0px 0px 0px 5px;
	letter-spacing: -4px;
	cursor: pointer;
}

.nodename {
	padding: 2px 2ex 0px 0px;
}

.nodetype {
	padding: 2px 0px 0px 3px;
	font-style: italic;
/*	position: absolute;
	right: 10px;*/
}

div.cattreenode_children {
	display: none;
	margin: 0px 0px 0px 2ex;
}
