#icp_view {
	width: 990px;
}

#icp_content_website #p-body-wrapper {
	margin-top: 10px !important;
}

#icp_content_website h2.pce_pdetail {
	font-family: Gill Sans Std,Gill Sans MT,Verdana;
	font-size: 325% !important;
}
#icp_content_website h3.pdetail_subtitle {
	font-family: Gill Sans Std,Gill Sans MT,Verdana;
	font-size: 200% !important;
}
