#icp_content_leaflet {
	background-color: #F0F0F2;
	text-align: center;
}

#icp_content_leaflet .leaf_page {
	width: 210mm;
	height: 297mm;
	overflow: hidden;
	outline: 1px solid #666;
	background-color: #fff;
	margin: 3mm auto;
	padding: 0mm;
	text-align: left;
	font-family: "Gill Sans Std", "Gill Sans MT", Verdana;
}
#icp_content_leaflet .leaf_page td {
	font-family: "Gill Sans Std", "Gill Sans MT", Verdana;
}

/******************
	Page 1
******************/

/*
	Left column
*/
#icp_content_leaflet .leaf_p1 .left {
	width: 150.6mm;
	margin: 0;
	float: left;
}

#icp_content_leaflet .leaf_p1 .left .mainPhoto {
	height: 133.75mm;
	width: 107mm;
	margin: 12mm 0 0 18.1mm;
	text-align: center;
}
#icp_content_leaflet .leaf_p1 .left .mainPhoto img {
	margin: auto;
}

#icp_content_leaflet .leaf_p1 .left .mainText {
	height: 114.3mm;
	width: 138.6mm;
	margin: 0 0 0 12mm;
	overflow: hidden;
}

#icp_content_leaflet .leaf_p1 .left .mainText .wow {
	font-family: "Gill Sans Std Light";
	font-size: 30pt;
	color: #066AA6;
	line-height: 36pt;
}

#icp_content_leaflet .leaf_p1 .left .mainText .subWow {
	font-family: "Gill Sans Std Light";
	font-size: 16pt;
	color: #066AA6;
	margin-top: 16pt;
}

#icp_content_leaflet .leaf_p1 .left .mainText .marketingText {
	font-family: "Gill Sans Std Light";
	font-size: 11pt;
	line-height: 16pt;
	margin-top: 16pt;
}

#icp_content_leaflet .leaf_p1 .left .mainText .features {
	font-size: 9pt;
}

#icp_content_leaflet .leaf_p1 .left .mainText .features dl {
	margin: 5pt 0 0 15.8mm;
}

#icp_content_leaflet .leaf_p1 .left .mainText .features dl dt {
	font-weight: bold;
	color: #066AA6;
}

#icp_content_leaflet .leaf_p1 .left .mainText .features dl dd {
	margin: 0;
}

/* List style with use of divs to change the marker size */
#icp_content_leaflet .li {
	padding-left: 9px;
	text-indent: -9px;
}
#icp_content_leaflet .li .marker {
	padding-right: 3px;
	font-size: 80%;
}
#icp_content_leaflet .li .marker:before {
}

/*
	Right column
*/
#icp_content_leaflet .leaf_p1 .right {
	width: 43.5mm;
	margin: 12mm 12mm 0 0;
	float: right;
}

#icp_content_leaflet .leaf_p1 .right .descriptorText {
	border: 1px solid #666666;
	height: 39.5mm;
	padding: 2.5mm 2.5mm 1.5mm 2.5mm;
}

#icp_content_leaflet .leaf_p1 .right .descriptorText table {
	height: 100%;
	border-collapse:collapse;
}
#icp_content_leaflet .leaf_p1 .right .descriptorText td {
	font-size: 10pt;
	line-height: 12pt;
}

#icp_content_leaflet .leaf_p1 .right .descriptorText .name {
}
#icp_content_leaflet .leaf_p1 .right .descriptorText .description {
}

#icp_content_leaflet .leaf_p1 .right .descriptorText .range {
	padding-top: 14pt;
}

#icp_content_leaflet .leaf_p1 .right .descriptorText .versionInfo {
	vertical-align: bottom;
	height: 100%;
}

#icp_content_leaflet .leaf_p1 .right .descriptorText .mainVersion {
	font-size: 20pt;
	line-height: 18pt;
}

#icp_content_leaflet .leaf_p1 .right .conceptLogo {
	height: 10.9mm;
	background-color: black;
	text-align: center;
}
#icp_content_leaflet .leaf_p1 .right .productPhoto {
	border:1px solid black;
}

#icp_content_leaflet .leaf_p1 .right .productId {
	height: 5.4mm;
	background-color: black;
	color: white;
	font-size: 12pt;
	padding: 0 2.5mm;
	margin-top: 3mm;
}

/*
	Bottom block
*/
#icp_content_leaflet .leaf_p1 .bottom {
	float: left;
	width: 100%;
	height: 40mm;
	margin: 5.6mm 0 0 0;
}

#icp_content_leaflet .leaf_p1 .bottom .awardLogos {
	width: 120mm;
	height: 17.8mm;
	float: left;
	margin: 0 0 15.4mm 12mm;
}

#icp_content_leaflet .leaf_p1 .bottom .brandLogo {
	width: 63.4mm;
	height: 17.8mm;
	float: right;
	margin: 0 12mm 14mm 0;
}

/******************
	Page 2/3 shared
******************/

#icp_content_leaflet .leaf_p2 .descriptor,
#icp_content_leaflet .leaf_p3 .descriptor {
	width: 122.8mm;
	height: 6.5mm;
	float: left;
	margin: 12.7mm 0 3.8mm 12mm;
}
#icp_content_leaflet .leaf_p2 .descriptor .info,
#icp_content_leaflet .leaf_p3 .descriptor .info {
	font-size: 10pt;
	line-height: 9pt;
}
#icp_content_leaflet .leaf_p2 .descriptor .versionInfo,
#icp_content_leaflet .leaf_p3 .descriptor .versionInfo {
	font-size: 8pt;
	line-height: 9pt;
}

#icp_content_leaflet .leaf_p2 .productId,
#icp_content_leaflet .leaf_p3 .productId {
	width: 54.6mm;
	height: 5.4mm;
	margin: 10.3mm 12mm 7.2mm 0;
	padding: 0 2.5mm;
	float: right;
	color: white;
	background-color: black;
	font-size: 12pt;
}

#icp_content_leaflet .leaf_p2 .header,
#icp_content_leaflet .leaf_p3 .header {
	font-family: "Gill Sans Std Light", "Gill Sans Std", "Gill Sans MT", Verdana;
	font-size: 25pt;
	color: #066AA6;
	margin: 0 12mm 0 12mm;
}

#icp_content_leaflet .leaf_p2 .column,
#icp_content_leaflet .leaf_p3 .column {
	font-size: 9pt;
	line-height: 12pt;
	width: 59.6mm;
	float: left;
	margin-top: 3mm;
	overflow: hidden;
}

#icp_content_leaflet .leaf_p2 .columnleft,
#icp_content_leaflet .leaf_p3 .columnleft {
	margin-left: 12mm;
	margin-right: 3.6mm;
}
#icp_content_leaflet .leaf_p2 .columnmiddle,
#icp_content_leaflet .leaf_p3 .columnmiddle {
	margin-left: 0;
	margin-right: 3.6mm;
}
#icp_content_leaflet .leaf_p2 .columnright,
#icp_content_leaflet .leaf_p3 .columnright {
	margin-left: 0;
	margin-right: 12mm;
}

/******************
	Page 2
******************/

#icp_content_leaflet .leaf_p2 {
}

#icp_content_leaflet .leaf_p2 .column {
	height: 222.8mm;
	margin-bottom: 12mm;
}

#icp_content_leaflet .leaf_p2 .column .featureName {
	font-weight: bold;
	color: #066AA6;
}

#icp_content_leaflet .leaf_p2 .column .featureImage {
	margin: 1ex 0;
}

#icp_content_leaflet .leaf_p2 .column .featureGlossaryEnd {
	margin-bottom: 2ex;
}

#icp_content_leaflet .leaf_p2 .logos {
	margin: 0 12mm;
	height: 13.75mm;
	overflow: hidden;
}

#icp_content_leaflet .leaf_p2 .logos .featureLogo {
	float: left;
	margin: 0 3.6mm 0 0;
}

/******************
	Page 3
******************/
#icp_content_leaflet .leaf_p3 .column {
	margin-bottom: 6mm;
}

#icp_content_leaflet .leaf_p3 .columnleft,
#icp_content_leaflet .leaf_p3 .columnmiddle {
	height: 156.4mm
}
#icp_content_leaflet .leaf_p3 .columnright {
	height: 165mm;
}

#icp_content_leaflet .leaf_p3 .column .chapterName {
	color: #066AA6;
	font-weight: bold;
	font-size: 9pt;
	line-height: 9pt;
}

#icp_content_leaflet .leaf_p3 .column .li {
	font-size: 8pt;
	line-height: 9pt;
}
#icp_content_leaflet .leaf_p3 .column .lilast {
	margin-bottom: 1ex;
}

#icp_content_leaflet .leaf_p3 .connectorDrawing {
	margin-top: -56mm;
	margin-left: 12mm;
	margin-bottom: 0;
	margin-right: 0;
	width:122.8mm;
	text-align: center;
	margin-bottom: -56mm;
}

#icp_content_leaflet .leaf_p3 .remoteControl {
	width:59.6mm;
	text-align: center;
	float: right;
	margin-right: 12mm;
}

#icp_content_leaflet .leaf_p3 .disclaimers {
	float: right;
	width: 59.6mm;
	margin: 8pt 12mm 0 0;
	font-size:6pt;
	line-height:7pt;
}

#icp_content_leaflet .leaf_p3 table.footer {
	margin: 0 0 15.6mm 12mm;
	width: 122.8mm;
	height: 83mm;
	border-collapse: separate;
	border-spacing: 3.6mm;
	float: left;
}
#icp_content_leaflet .leaf_p3 table.footer td {
	padding: 0;
	font-size: 7.5pt;
	line-height: 9pt;
	vertical-align: top;
	border: 1px solid white;
}
#icp_content_leaflet .leaf_p3 table.footer td.connectorDrawing {
}
#icp_content_leaflet .leaf_p3 table.footer td.filler {
	height: 100%;
}
#icp_content_leaflet .leaf_p3 table.footer td.logo {
}
#icp_content_leaflet .leaf_p3 table.footer td.info {
	width: 28mm;
}
#icp_content_leaflet .leaf_p3 table.footer td.copyright {
	width: 59.6mm;
}
#icp_content_leaflet .leaf_p3 table.footer td.url {
	font-weight: bold;
	vertical-align: bottom;
}

/*
	DEBUG
*/

/*
#icp_content_leaflet div {
	outline: 1px solid red;
}
*/